body {
  overflow-x: clip;
}
@media (min-width: 1400px) {
    .container {
        max-width: 1400px;
    }
  }

.pageBg {
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
}

.branding .inner-title {
 padding-top: 180px;
 padding-bottom: 90px;
}

.branding .mission-sec .box-2 h4 {
  margin-bottom: 30px;
  text-align: center;
}

.dropsection .imgfalldrop {
    width: 100%;
    height: fit-content;
}

.branding .inner-title .heading h1 {
  color: #fff;
    font-size: 95px;
    font-weight: 700;
    line-height: 105px;
}

.mainFaqBox button.toogleBtn.toogleBtn-hidden svg, .mainFaqBox .upprtext svg {
    visibility: hidden;
}

.branding .inner-title .heading p {
 color: #fff;
    font-size: 25px;
    margin-top: 10px;
    font-weight: 300;
    margin-bottom: 0;
}

main.branding {
    background: #040208;
}

.branding .inner-title .heading p a{
  color: #fff;
}

/* Section 2 */

.branding .branding-sec-5 .container {
    z-index: 1;
    position: relative;
}

.branding .branding-sec-5 .nav-tabs {
    justify-content: center;
}

section.dropsection {
    padding-top: 100px;
}

.branding .branding-sec-5::after {
    background:linear-gradient(0deg, #020106f0 50%, #00000000);
    content: "";
    position: absolute;
    top: auto;
    bottom: 0;
    left: revert-layer;
    right: revert-layer;
    width: 100%;
    height: 100%;
}

.branding .branding-sec-5 {
    position: relative;
}

.branding .branding-sec-5 .banner-video {
    position: absolute !important;
    width: 100% !important;
    left: 0;
    top: auto;
    z-index: 0;
    bottom: 0;
}

.branding .branding-sec-5 .banner-video video{
    width: 100% !important;
    height: 385px;
    object-fit: cover;
}

.branding .web-sec-1 .img-box img {
 max-width: 100%;
    width: 100%;
    border-radius: 30px;
}

/* Section 3 */

.branding .web-sec-2 .text span {
  color: #fff;
  display: block;
  margin-top: -24px;
}

.branding .web-sec-2 {
  padding: 5% 0 5%;
}

.mainFaqBox button.toogleBtn, .mainFaqBox .upprtext {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border: 0;
    margin-bottom: 50px;
    background: transparent;
     transition: 0.3s;
}

.mainFaqBox button.toogleBtn span:nth-child(1), .mainFaqBox .upprtext span:nth-child(1) {
    color: #878C91;
    font-size: 20px;
    font-family: '__nextjs-Geist';
}

.mainFaqBox .upprtext span:nth-child(1){
  color:#fff;
}

.mainFaqBox button.toogleBtn span:nth-child(2), .mainFaqBox .upprtext span:nth-child(2) {
    color: #FFFFFF;
    font-family: 'Syne';
    font-size: 35px;
    font-weight: 600;
    letter-spacing: 0.2px;
}

.customFaqBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    padding: 0;
}

.customFaqBox .two-box {
    display: flex;
    align-items: flex-end;
    gap: 20px;
}

.customFaqBox .two-box.secondBox {
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.customFaqBox .two-box .t-btn-arrow {
    min-width: fit-content;
    background: linear-gradient(
50deg, #2724CB, #5931AD);
    padding: 14px 24px;
    text-transform: uppercase;
    transition: 0.3s;
}

.customFaqBox .two-box .t-btn-arrow:hover {
    background: linear-gradient(
224deg, #2724CB, #5931AD);
    transition: 0.3s;
}

.customFaqBox .two-box p {
    color: #878C91;
    font-size: 16px;
    margin: 0;
    font-family: 'Lato';
    letter-spacing: -0.2px;
    max-width: 632px;
    line-height: 25px;
}

.customFaqBox .imgBox {
    max-width: 281px;
}

.customFaqBox .imgBox img {
    border-radius: 12px;
    overflow: hidden;
    width: 100%;
    height: auto;
    object-fit: cover;
    transform: rotate(-10deg);
}

.customFaqBox .text {
    width: 100%;
}

.customFaqBox .two-box span.counter {
    color: #ffff;
    font-size: 80px;
    font-family: 'Lato';
    letter-spacing: -1px;
    font-weight: 500;
    line-height: normal;
}

.customFaqBox .two-box span {
    color: #878C91;
    font-size: 18px;
    font-weight: 400;
    line-height: 56px;
}

.mainFaqBox button.toogleBtn.toogleBtn-hidden {
    margin-bottom: 0;
    transition: 0.3s;
        height: 0;
    overflow: hidden;
}

.mainFaqBox .dataBox.open .row {
    padding: 40px;
    background-position: right center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: rgba(71, 70, 70, 0.3);
    border-radius: 33px;
    backdrop-filter: blur(4px);
    border: 1px solid #2b27fa78;
    margin-bottom: 40px;
}

.mainFaqBox .dataBox.open .row .upprtext {
    margin-bottom: 0;
    padding: 0;
}

/* Headings and Paragarphs */
.branding .text h2 {
  font-size: 55px;
  font-weight: 700;
  letter-spacing: 1.1px;
  background: linear-gradient(270deg, #9d77ff 0%, #c4c2ff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: #fff0;
  margin-bottom: 30px;
}

.branding .text h3 {
  font-size: 65px;
  line-height: 0.9em;
  background: linear-gradient(270deg, #9d77ff 0%, #c4c2ff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: #fff0;
}

.branding .text h3 span {
  color: white !important;
  font-size: 16px;
  background: linear-gradient(270deg, #ffffff 0%, #ffffff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: #fff0;
}

.branding .text h4 {
  font-size: 40px;
  font-weight: 700;
  background: linear-gradient(270deg, #9d77ff 0%, #c4c2ff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: #fff0;
}

.branding .text h5 {
  font-size: 22px;
  font-weight: 700;
  background: linear-gradient(270deg, #9d77ff 0%, #c4c2ff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: #fff0;
}

.branding .text p {
  color: #fff;
    font-size: 20px;
    line-height: 32px;
    font-weight: 300;
    letter-spacing: 0.1px;
}

.branding .web-sec-2.web-design-2 h2 {
  font-size: 40px;
}

/* Section 3 */
.branding .web-sec-3 {
  padding: 7% 0;
}

/* .sec-03 .marquee {
  border: 5px solid #cbcbcd;
} */

.branding .branding-sec-03 .box-2 {
  padding-top: 50px;
  padding-bottom: 30px;
  margin-left: 0%;
}

.branding .branding-sec-03 {
  padding: 200px 0 120px;
  padding-bottom: 0;
}

.branding .marquee {
  margin-top: 0px ;
}

.branding .sec-03 .marquee .track {
  white-space: nowrap;
  will-change: transform;
  animation: brandMarquee 30s linear infinite;
}

@keyframes brandMarquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.branding .branding-sec-03 .sticky-sec .row .text p {
  color: #000;
}
.branding .web-design-3 .main-box {
  display: flex;
  margin-top: 40px;
}

.branding .web-design-3 .text h2 {
  margin: 0;
}

.branding .web-design-3 .main-box .text {
  max-width: 320px;
}

.branding .web-design-3 .main-box .text h4 {
  font-size: 22px;
  min-height: 90px;
  display: flex;
  align-items: center;
  border: 1px solid #ffffff87;
  padding: 0 25px;
  border-right: 0;
}

.branding .web-design-3 .main-box .text:last-child h4,
.branding .web-design-3 .main-box .text:last-child p {
  border-right: 1px solid #ffffff87;
}

.branding .web-design-3 .main-box .text p {
  padding: 30px 25px;
  height: 100%;
  border: 1px solid #ffffff87;
  border-top: 0;
  border-right: 0;
  min-height: 420px;
}

.branding .web-design-3 .container-fluid {
  max-width: 1600px;
}

.branding .web-design-3 .main-box .text {
  height: 100%;
}

.branding .web-sec-3 .text p {
  opacity: 0.7;
}

.branding .text-22 p {
  font-size: 22px !important;
  padding-left: 85px;
  padding-right: 85px;
}

/* Section 4 */

.branding .brading-sec-5 {
  padding: 120px 0;
  background-image: url(/tab-btn.webp) !important;
  background-position: bottom center;
  background-size: 100%;
  background-repeat: no-repeat;
}

.branding .home-sec-service {
  overflow: hidden;
  padding: 100px 0;
  /* background-image: url(/Services-We-Provide-bg-1-1.webp) !important; */
  /* background-color: black; */
  background-size: 100% 100%;
  background-position: top center;
  position: relative;
  transition: 0.5s;
  background-size: 356.867%;
  top: -385.3%;
}

.branding .home-sec-service .container {
  padding-left: 70px;
  padding-right: 70px;
}

.branding #services_provide .p-0 {
  padding: 0 !important;
}

.branding #services_provide .border-0 {
  border: 0 !important;
}

.branding #services_provide .text-center {
  text-align: center !important;
}

.testiSection {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.branding #services_provide .tab-content > .tab-pane h2{
  margin-bottom: 0;
  font-family: 'Lato', sans-serif;
}
.branding #services_provide .text h2 {
  font-size: 55px;
  letter-spacing: 1.1px;
  background: linear-gradient(270deg, #9d77ff 0%, #c4c2ff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
  margin-bottom: 30px;
}

.branding .home-sec-service .nav-tabs {
  margin: 20px 0 50px;
}

.branding .brading-sec-5 .nav-tabs {
  justify-content: normal;
  column-gap: 0;
  margin: 20px 0 50px;
  row-gap: 10px;
}

.branding #services_provide .nav-tabs {
  border: none;
}

.branding #services_provide .tab-content > .tab-pane {
  display: none;
}

.branding .home-sec-service ul.hom {
  padding-left: 0;
}

.branding .home-sec-service .hom li {
  list-style: none;
  color: #fff;
}

.branding .new-btn-style .text a,
.branding .brand-mobile-slider .hom a {
  min-width: fit-content;
  margin-bottom: 15px;
  max-width: 340px !important;
  width: 340px;
  line-height: 2;
}

.branding #services_provide .t-btn.t-btn-arrow {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
  max-width: 250px;
  padding: 4px 20px;
  border-radius: 40px;
  border: 0.8px solid rgba(47, 39, 198, 0.75);
  -o-transition: all 0.4s ease-in-out;
  background-size: 300% 100%;
  color: #fff;
  font-size: 16px;
  transition: 0.3s;
  background: rgba(255, 255, 255, 0.21);
}

.branding #services_provide .t-btn.t-btn-arrow:hover {
  color: #fff;
  text-decoration: none !important;
  background-image: linear-gradient(
    118deg,
    rgba(255, 255, 255, 0.05),
    rgba(255, 255, 255, 0.55),
    rgba(255, 255, 255, 0.05),
    rgba(255, 255, 255, 0.55)
  );
  background-position: 50% 0;
}

.branding #services_provide .tab-content > .active {
  display: block;
}

.branding .brading-sec-5 ul.nav.nav-tabs .nav-link {
  border-radius: 30px;
  padding: 16px 15px;
  border: 0;
  background-image: url(/tab-btn.webp) !important;
  background-size: cover;
  color: #fff;
  background-position: center center;
}

.branding #services_provide .nav-tabs .nav-link {
  border: 1px solid rgba(255, 255, 255, 0);
  border: none;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  color: #fff;
  padding: 16px 15px;
  border-radius: 50px;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  background-image: url(/small-tabbing-bg.png);
  background-size: cover;
  margin-right: 10px;
  background-repeat: no-repeat;
}

.branding #services_provide ul.nav.nav-tabs a.nav-link.active,
.branding #services_provide ul.nav.nav-tabs a.nav-link:hover {
  background: linear-gradient(268deg, #2d26c8 0%, #5531af 100%) !important;
  box-shadow: 8px 8px 16px 0 rgba(48, 39, 198, 0.5) !important;
  background-image: linear-gradient(
    268deg,
    #2d26c8 0%,
    #5531af 100%
  ) !important;
  cursor: pointer;
}

/* Section 5 */

.branding .branding-sec-5 {
  padding: 120px 0;
}

.branding .branding-sec-5 .text p {
  margin-top: 10px;
  max-width: 560px;
  opacity: 0.7;
}

.branding .branding-sec-5 ul.nav.nav-tabs .nav-link.active,
.branding .branding-sec-5 ul.nav.nav-tabs .nav-link:hover {
  background: linear-gradient(268deg, #2d26c8 0%, #5531af 100%);
  box-shadow: 8px 8px 16px 0px rgba(48, 39, 198, 0.5);
  background-image: linear-gradient(268deg, #2d26c8 0%, #5531af 100%);
  border: 0;
  color: #fff;
}

.section6 .box .content-box
{
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #5431b0;
    background: #fff;
    box-shadow: 10px 10px 15px 0 rgba(48, 39, 199, .25);
    width: 280px;
    padding: 16px;
    display: none;
    transition: 1.5s;
    position: absolute;
    top: 85px;
    left: 0;
    z-index: 999;
}

.section6 .box:hover .content-box {
    display: block;
    position: absolute;
    left: 0;
    z-index: 999;
    text-align:left;
}

.section6 .box .content-box h6 {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    font-family: Lato, sans-serif;
    background: linear-gradient(270deg, #8354ff, #9591ff);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: #fff0;
    line-height: 20px !important;
    margin-bottom: 10px;
}

.section6 .box .content-box p{
      font-size: 12px;
    color: #1e1e1e;
    line-height: 1.3em;
    font-weight: 400;
}


.branding .section6 .text h2 {
    background: transparent;
    -webkit-text-fill-color: white;
}

.branding .section6 .text h6 {
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    font-family: 'Lato';
    line-height: 56px;
}

section.section6 {
    padding-top: 149px;
    padding-bottom: 49px;
}

.gridBoxes .box {
    margin: 0 10px 0 0px;
}

.gridBoxes {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 37px;
    flex-wrap: wrap;
}

.section4 img{
    margin:7.5px;
}


.section6 .box {
    position: relative;
    display: inline-flex;
}

.section4 .img-box{
  text-align: center;

      flex-wrap: wrap;
    display: flex
;
    justify-content: center;
}

.branding .branding-sec-5 .nav-tabs {
  /* justify-content: normal; */
  column-gap: 10px;
  margin: 20px 0 80px;
  row-gap: 10px;
  border: none;
  cursor: pointer;
}

.branding .branding-sec-5 ul.nav.nav-tabs .nav-link {
  text-transform: capitalize;
  border-radius: 2000px;
  padding: 29px 25px;
  border: 0;
      background: linear-gradient(158deg, #000000, #1B1B1B);
    box-shadow: inset 0px 3px 3px #ffffff33;
  background-size: cover;
  color: #fff;
  font-weight: 600;
  font-size: 16px;
      line-height: 10px;
}
.branding .button-readmore {
  margin-top: 20px;
}

/* Testimonial */

/* Section 7 (Testimonials) */
.branding .home-sec-07 {
  padding: 100px 0 200px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.branding .home-sec-07 .main-testi-large-box {
  color: white;
  z-index: 999;
}
.branding .home-sec-07 .main-testi-box {
  padding: 50px 150px;
  text-align: center;
  margin-top: 0px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 998;
  border-radius: 10px;
  position: relative;
  /* background-color: #000000b3; */
  background-image: url(/testi-main-box-bg.png);
  backdrop-filter: blur(2px);
}
.branding .home-sec-07 .main-testi-box::after {
  content: "";
  background-image: url(/testi-details-left.png);
  width: 88px;
  height: 66px;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 70px;
  left: 5%;
}
.branding .home-sec-07 .main-testi-box::before {
  content: "";
  background-image: url(/testi-details-right.png);
  width: 88px;
  height: 66px;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 70px;
  right: 5%;
}

.branding .home-sec-07 .main-testi-box h4 {
  background: linear-gradient(270deg, #9d77ff 0%, #c4c2ff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 30px;
  font-weight: 500;
}

.branding .home-sec-07 .main-testi-box h5 {
  font-size: 16px;
  font-weight: 400;
  font-family: "Lato", sans-serif;
  margin: 10px 0 15px;
}

.branding .home-sec-07 .main-testi-box p {
  font-size: 22px;
  font-style: italic;
  font-weight: 400;
  line-height: 1.7em;
}

.branding .home-sec-07 .main-testi-box h6 {
  font-size: 18px;
  font-weight: 500;
  font-family: "Lato", sans-serif;
  margin-top: 15px;
}
.branding .home-sec-07 .two-imges-testi img.testi-img-01 {
  position: absolute;
  bottom: 50px;
  right: 10%;
}

.branding .home-sec-07 .two-imges-testi img.testi-img-02 {
  position: absolute;
  bottom: 130px;
  left: 13%;
}
.branding .home-sec-07 .main-testi-nav .box img {
  cursor: pointer;
}

.branding .home-sec-07 .slick-track {
  padding: 5px 0 25px;
}

.branding .home-sec-07 .testi-img-01 {
  animation: zoom 5s ease-in-out infinite;
}

.branding .home-sec-07 .rotating-img {
  animation: rotate 7s linear infinite;
}
.branding .main-testi-nav .slick-slide {
  opacity: 30%;
}

.branding .main-testi-large-box .slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
  z-index: 9999;
}
.branding .main-testi-nav .slick-active.slick-center.slick-current {
  opacity: 100% !important;
}

.branding .main-testi-nav .slick-list {
  padding: 0 !important;
}

.branding .main-testi-nav .slick-active.slick-center.slick-current .box img {
  box-shadow: 5px 5px 25px 0px rgba(157, 119, 255, 0.9);
  border-radius: 10px;
}

@keyframes zoom {
  0%,
  100% {
    transform: scale(1);
    filter: brightness(1.2) saturate(120%) blur(10px);
  }
  50% {
    transform: scale(1.1);
    transform: scale(1.2);
    filter: brightness(1) saturate(100%) blur(0);
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.floatingButtonsBox{
  position: relative;
  width: 100%;
  height: 0px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 400px;
  max-width: 1934px;
}

.floatingButtonsBox .t-btn {
    padding: 14px 24px;
    color: #fff;
    border-radius: 40px;
    width: fit-content;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    background: #4A35F4;
    backdrop-filter: blur(80px);
    position: absolute;
    bottom: 0;
}

.floatingButtonsBox .btnBox:nth-child(+2n) .t-btn {
    background: #AE5FF0;
}

.floatingButtonsBox .btnBox:nth-child(+3n) .t-btn {
    background: #5600AE;
}

.floatingButtonsBox .btnBox:nth-child(+4n) .t-btn {
    background: #528AF9;
}

.floatingButtonsBox .btnBox:nth-child(+5n) .t-btn {
    background: #8A1BF4;
}

.floatingButtonsBox .btnBox:nth-child(+6n) .t-btn {
    background: #0F77BB;
}


.floatingButtonsBox .btnBox:nth-child(1) .t-btn {
    right: 266px;
    bottom: 96px;
    transform: rotate(5deg);
}

.floatingButtonsBox .btnBox:nth-child(2) .t-btn {
    bottom: 50px;
    left: 100px;
    transform: rotate(25deg);
}

.floatingButtonsBox .btnBox:nth-child(3) .t-btn {
    bottom: 155px;
    transform: rotate(25deg);
}

.floatingButtonsBox .btnBox:nth-child(4) .t-btn {
    left: 375px;
}

.floatingButtonsBox .btnBox:nth-child(5) .t-btn {
    left: 400px;
    bottom: 50px;
}

.floatingButtonsBox .btnBox:nth-child(6) .t-btn {
    bottom: 96px;
    left: 256px;
    transform: rotate(-4deg);
}

.floatingButtonsBox .btnBox:nth-child(7) .t-btn {
    left: 520px;
    bottom: 100px;
}

.floatingButtonsBox .btnBox:nth-child(8) .t-btn {
    left: 600px;
}

.floatingButtonsBox .btnBox:nth-child(9) .t-btn {
    left: 660px;
    bottom: 50px;
}

.floatingButtonsBox .btnBox:nth-child(10) .t-btn {
    left: 768px;
    transform: rotate(32deg);
    bottom: 61px;
}

.floatingButtonsBox .btnBox:nth-child(11) .t-btn {right: 0;bottom: 100px ;}

.floatingButtonsBox .btnBox:nth-child(12) .t-btn {
    right: 20px;
    bottom: 50px;
}

.floatingButtonsBox .btnBox:nth-child(13) .t-btn {
    right: 0;
    bottom: 0px;
}

.floatingButtonsBox .btnBox:nth-child(14) .t-btn {
    right: 370px;
}

.floatingButtonsBox .btnBox:nth-child(15) .t-btn {
    right: 164px;
    transform: rotate(-29deg);
    bottom: 44px;
}

.floatingButtonsBox .btnBox:nth-child(16) .t-btn {
    right: 724px;
}

.floatingButtonsBox .btnBox:nth-child(17) .t-btn {
    right: 600px;
    bottom: 50px;
}

.floatingButtonsBox .btnBox:nth-child(18) .t-btn {
    right: 400px;
    bottom: 71px;
    transform: rotate(14deg);
}

.floatingButtonsBox .btnBox:nth-child(19) .t-btn {
    right: 759px;
    bottom: 83px;
    transform: rotate(-15deg);
}

.floatingButtonsBox .btnBox:nth-child(20) .t-btn {
    left: 0;
}

@keyframes jumble {
      0%   { transform: translate(0, 0); }
      20%  { transform: translate(-2px, 1px); }
      40%  { transform: translate(2px, -1px); }
      60%  { transform: translate(-1px, 2px); }
      80%  { transform: translate(1px, -2px); }
      100% { transform: translate(0, 0); }
    }
    .floatingButtonsBox:hover .btnBox:not(:hover) {
      animation: jumble 0.5s ease-in-out infinite;
    }
    .floatingButtonsBox .btnBox:hover {
      /* transform: scale(1.1); */
      background-color: inherit;
      animation: none;
    }

@media only screen and (max-width: 1900px){
    .floatingButtonsBox {
    max-width: 1900px;
    margin-right: auto;
    margin-left: auto;
}
  .floatingButtonsBox .btnBox:nth-child(10) .t-btn {
    left: 720px;
    transform: rotate(21deg);
    bottom: 92px;
}
.floatingButtonsBox .btnBox:nth-child(19) .t-btn{
    right: 719px;
    bottom: 109px;
    transform: rotate(9deg);
}
}
@media only screen and (max-width: 1800px){
    .floatingButtonsBox {
    max-width: 1800px;
    margin-right: auto;
    margin-left: auto;
}
  .floatingButtonsBox .btnBox:nth-child(15) .t-btn {
    right: 149px;
    transform: rotate(-45deg);
    bottom: 55px;
}

.floatingButtonsBox .btnBox:nth-child(14) .t-btn {
    right: 338px;
}
.floatingButtonsBox .btnBox:nth-child(16) .t-btn {
    right: 695px;
}

    .floatingButtonsBox .btnBox:nth-child(19) .t-btn {
        right: 700px;
        bottom: 99px;
        transform: rotate(0deg);
    }
        .floatingButtonsBox .btnBox:nth-child(10) .t-btn {
        left: 691px;
        transform: rotate(-25deg);
        bottom: 147px;
    }
}
@media only screen and (max-width: 1700px){
    .floatingButtonsBox {
    max-width: 1700px;
    margin-right: auto;
    margin-left: auto;
}
  .floatingButtonsBox {
    margin-top: 300px;
}

.floatingButtonsBox .btnBox:nth-child(8) .t-btn {
    left: 539px;
}
    .floatingButtonsBox .btnBox:nth-child(15) .t-btn {
        right: 118px;
        transform: rotate(-60deg);
        bottom: 68px;
    }
    .floatingButtonsBox .btnBox:nth-child(14) .t-btn {
        right: 290px;
    }
        .floatingButtonsBox .btnBox:nth-child(16) .t-btn {
        right: 655px;
    }
    .floatingButtonsBox .btnBox:nth-child( .t-btn1)
 {
    right: 250px;
    bottom: 97px;
    transform: rotate(20deg);
}
.floatingButtonsBox .btnBox:nth-child(18) .t-btn {
    right: 330px;
    bottom: 71px;
    transform: rotate(14deg);
}
.floatingButtonsBox .btnBox:nth-child(17) .t-btn {
    right: 530px;
    bottom: 50px;
}
    .floatingButtonsBox .btnBox:nth-child(19) .t-btn {
        right: 597px;
        bottom: 99px;
        transform: rotate(0deg);
    }
}
@media only screen and (max-width: 1600px){
  .floatingButtonsBox {
    max-width: 1400px;
    margin-right: auto;
    margin-left: auto;
}

    .floatingButtonsBox .btnBox:nth-child(8) .t-btn {
        left: 550px;
        bottom: 149px;
    }
        .floatingButtonsBox .btnBox:nth-child(19) .t-btn {
        right: 206px;
        bottom: 156px;
        transform: rotate(0deg);
    }
    .floatingButtonsBox .btnBox:nth-child(10) .t-btn
 {
        left: 744px;
        transform: rotate(-31deg);
        bottom: 157px;
    }

    .floatingButtonsBox .btnBox:nth-child(1) .t-btn
 {
    right: 238px;
    bottom: 106px;
    transform: rotate(5deg);
}
}
@media only screen and (max-width: 1440px){
  .floatingButtonsBox {
    max-width: 1200px;
}

.floatingButtonsBox .btnBox:nth-child(17) .t-btn {
    right: auto;
    left: 240px;
    bottom: 147px;
}

.floatingButtonsBox .btnBox:nth-child(18) .t-btn {
    bottom: 198px;
    transform: rotate(6deg);
    right: 335px;
}

.floatingButtonsBox .btnBox:nth-child(8) .t-btn {
    left: 530px;
}

.floatingButtonsBox .btnBox:nth-child(19) .t-btn {
    right: 22px;
    transform: rotate(17deg);
    bottom: 170px;
}

.floatingButtonsBox .btnBox:nth-child(1) .t-btn {
    right: auto;
    left: -22px;
    transform: rotate(47deg);
    bottom: 100px;
}
}
@media only screen and (max-width: 1199px){
  .floatingButtonsBox {
    margin-top: 400px;
    max-width: 1026px;
}

.floatingButtonsBox .btnBox:nth-child(16) .t-btn {
    bottom: 197px;
    right: auto;
    left: 137px;
}

.floatingButtonsBox .btnBox:nth-child(4) .t-btn {
    bottom: 193px;
    transform: rotate(45deg);
    left: 366px;
}

.floatingButtonsBox .btnBox:nth-child(18) .t-btn {
    transform: rotate(0deg);
    right: 314px;
    bottom: 198px;
}

.floatingButtonsBox .btnBox:nth-child(10) .t-btn {
    left: auto;
    right: 45px;
    bottom: 241px;
    transform: rotate(-22deg);
}

.floatingButtonsBox .btnBox:nth-child(9) .t-btn {
    left: 209px;
    bottom: 233px;
    transform: rotate(29deg);
}
}
@media only screen and (max-width: 1024px){
  .floatingButtonsBox .t-btn {
    position: relative;
    transform: unset !important;
    left: unset !important;
    right: unset !important;
    bottom: unset !important;
    top: unset !important;
    width: 100% !important;
    min-width: 100% !important;
    max-width: 100% !important;
    font-size: 13px;
}

.floatingButtonsBox {
    margin: 0;
    height: fit-content;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    justify-items: center;
    padding: 50px 15px;
}

.floatingButtonsBox .btnBox {
    width: 100%;
}
}
@media only screen and (max-width: 991px){
  .floatingButtonsBox {
    grid-template-columns: 1fr 1fr;
}
}
@media only screen and (max-width: 767px){
  section.dropsection {
    padding-top: 0 !important;
}

section.dropsection .text h2 {
    font-size: 30px;
}
}
@media only screen and (max-width: 575px){
    .floatingButtonsBox {
    grid-template-columns: 1fr;
}
    section.dropsection .text h2 {
        font-size: 25px;
    }

    .floatingButtonsBox {
    height: 500px;
    overflow-x: hidden;
    padding: 0 10px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.floatingButtonsBox .t-btn {
    padding: 15px;
}

.floatingButtonsBox::-webkit-scrollbar {
  width: 5px;
}
}

@media only screen and (max-width: 1600px) {
  /* .branding .inner-title .heading {
    padding-left: 50px;
  } */
  .branding .web-sec-4 .text {
    max-width: 100%;
    margin: auto;
    padding: 20px 40px;
    text-align: center;
  }
  .branding .branding-sec-03 .text h4{
    font-size: 30px;
  }
  .branding .branding-sec-03 .text p {
    font-size: 14px;
  }
  .branding .branding-sec-03 .box-2{
    margin-left: 10px;
    margin-right: 15px;
  }
}

@media only screen and (max-width:1440px){
  .mainFaqBox .dataBox.open .row .upprtext span:nth-child(2) {
    font-size: 25px;
}
section.dropsection h2 {
    margin: 0 !important;
}
}

@media only screen and (max-width: 1199px) {
  .branding .home-sec-07 {
    padding: 100px 0;
}
  .branding .home-sec-07 .main-testi-nav .box img {
    width: 100%;
    height: fit-content;
}
  section.section6 {
    padding-top: 80px;
    padding-bottom: 0px;
}
  .branding .branding-sec-5 {
    padding: 80px 0;
}
  section.dropsection {
    padding-top: 50px;
}
  .customFaqBox .two-box span {
    font-size: 14px;
    line-height: 40px;
}
  .customFaqBox .two-box span.counter {
    font-size: 50px;
}
  .customFaqBox .imgBox {
    max-width: 150px;
}

  .branding .web-sec-2 {
    padding-bottom: 20px;
}
  header .header-nav ul li a {
    font-size: 15px;
}
  .branding .inner-title .heading {
    padding-left: 0px;
    text-align: left;
  }
  .branding .web-sec-2 .row {
    padding: 30px 0;
  }
  .branding .web-sec-4 {
    padding: 50px 0;
  }
  .branding .brand-mobile-slider .hom a,
  .branding .new-btn-style .text a {
    max-width: 220px;
    width: 220px;
  }
  .branding .web-sec-3 .text p a {
    font-size: 13px;
  }
  .branding .text h2 {
    font-size: 38px;
    font-weight: 700;
    letter-spacing: 1.1px;
    margin-bottom: 30px;
  }
  .branding .web-sec-2 {
    padding-left: 20px;
  }
  .branding .branding-sec-03 .text h4{
    font-size: 22px;
  }
  .branding .branding-sec-03 .text p {
    font-size: 14px;
  }
}
@media only screen and (max-width: 1024px) {

  .branding .branding-sec-5 ul.nav.nav-tabs .nav-link{
    padding: 19px 20px;
    font-size: 14px;
}
  .mainFaqBox button.toogleBtn span:nth-child(2) {
    font-size: 25px;
}
  .branding .text p {
    font-size: 15px;
    line-height: 26px;
    margin-bottom: 0;
}
  .branding .inner-title .heading h1 {
    font-size: 48px;
    text-align: left;
  }
  .branding .inner-title .heading p {
    font-size: 18px;
    text-align: left;
  }
  .branding .web-sec-1 .img-box img {
    height: fit-content;
}

  .branding .inner-title {
    padding-top: 140px;
    padding-bottom: 50px;
}
  .branding .branding-sec-03 .text h4{
    font-size: 22px;
  }
  .branding .branding-sec-03 .text p {
    font-size: 14px;
  }

  .branding .web-sec-2.web-design-2 h2 {
    font-size: 30px;
  }

  .branding .branding-sec-5 .text h4{
    font-size: 28px;
  }
  /* Testimonials */
  .branding .home-sec-07 .slick-slide img {
    max-width: 65px;
    object-fit: contain;
    height: auto;
  }
  .branding .home-sec-07 .two-imges-testi img.testi-img-01 {
    bottom: 60px;
    max-width: 270px;
    object-fit: contain;
  }
  .branding .home-sec-07 .two-imges-testi img.testi-img-02 {
    position: absolute;
    bottom: 130px;
    left: 13%;
  }
  .branding .home-sec-07 {
    padding: 70px 0 100px;
  }
  .branding .home-sec-07 .slick-slide img {
    max-width: 65px;
    object-fit: contain;
    height: auto;
  }
  .branding .home-sec-07 .two-imges-testi img.testi-img-01 {
    bottom: 60px;
    max-width: 270px;
    object-fit: contain;
  }
  .branding .home-sec-07 .two-imges-testi img.testi-img-02 {
    position: absolute;
    bottom: 130px;
    left: 13%;
  }

  .branding .home-sec-07 .two-imges-testi img.testi-img-01, .home-sec-07 .two-imges-testi img.testi-img-02{
    display:none;
  }
}

@media only screen and (max-width: 991px) {

  .customFaqBox .two-box.secondBox {
    flex-direction: column;
    text-align: center !important;
}
  .gridBoxes {
    gap: 0px;
}
.customFaqBox {
    flex-direction: column;
    text-align: center;
}

.customFaqBox .two-box {
    display: flex;
    align-items: flex-end;
    gap: 20px;
    justify-content: center;
}

  .branding .text h4 br {
    display: none;
  }
  .branding .text p {
    font-size: 15px !important;
  }
  .branding .web-sec-2 .row {
    padding: 15px 0;
  }
  .branding .web-sec-2{
    padding-left: 10px;
  }
  .branding .text h2 {
    font-size: 26px;
    margin-bottom: 20px;
  }

  .branding .brading-sec-4 {
    padding: 140px 0 50px;
  }
  .branding .branding-sec-03 .sticky-sec .row{
    position: static;
  }
  .branding .branding-sec-03 .text h4 {
    font-size: 28px;
    text-align: center;
  }
  .branding .branding-sec-03 .text p {
    text-align: center;
  }
  .branding .branding-sec-03 .row.align-items-center.pb-0.reverse-webdesign{
    display: flex;
    flex-direction: column-reverse;
  }

  .mainFaqBox .dataBox.open .row .upprtext span:nth-child(3) {
    display: none;
}

.mainFaqBox .dataBox.open .row .upprtext {
    margin-bottom: 20px;
}

  .branding .web-sec-4 .text {
    max-width: 100%;
    margin: auto;
    padding: 20px 10px;
    text-align: center;
  }
  .branding .web-sec-4 {
    padding: 60px 0 10px;
  }
  .branding .web-sec-5 .text .box {
    padding: 15px 3px;
    column-gap: 25px;
  }
  .branding .web-sec-5 {
    padding: 30px 0;
  }
  .branding .branding-sec-5 .nav-tabs {
    margin: 20px 0 40px;
  }
  .branding .branding-sec-5 .img-box {
    padding-bottom: 15px;
    width: 100%;
    margin: auto;
  }

  .branding .branding-sec-5 .text h4 {
    text-align: left;
  }

  .branding .branding-sec-5 .text p {
    max-width: 700px;
    text-align: justify;
  }

  .branding .branding-sec-5 .row.align-items-center {
    flex-direction: column-reverse;
  }

  .branding .row.align-items-center.web-mobile-2 {
    display: flex;
    flex-direction: column-reverse;
  }
  .branding #services_provide{
    display: none;
  }
  .branding .home-sec-07 .slick-slide img {
    max-width: 45px;
    object-fit: contain;
    height: auto;
    border-radius: 0px;
  }
  .branding .home-sec-07 .main-testi-box {
    padding: 20px 30px;
  }
  .branding .home-sec-07 .main-testi-box p {
    font-size: 14px;
    font-style: italic;
    font-weight: 400;
    line-height: 1.5em;
  }
  .branding .home-sec-07 .two-imges-testi img.testi-img-01 {
    bottom: 0px;
    max-width: 200px;
    object-fit: contain;
  }

  .branding .two-imges-testi {
    bottom: 60px;
    max-width: 60px;
    object-fit: contain;
  }

  .branding img.testi-img-02.rotating-img {
    bottom: 60px;
    max-width: 100px;
    object-fit: contain;
  }
  .branding .home-sec-07 .two-imges-testi img.testi-img-02 {
    position: absolute;
    bottom: 50px;
    left: 13%;
  }
  .branding .home-sec-07 .main-testi-box h6 {
    font-size: 13px;
    margin-top: 5px;
  }
  .branding .home-sec-07 {
    padding: 40px 0 40px;
  }

}
@media only screen and (max-width: 767px) {

  .branding .web-sec-2.web-design-2 h2 {
    text-align: center;
}

  .branding .inner-title .heading h1 {
    line-height: 40px;
}
  .branding .inner-title .heading p {
    font-size: 13px;
    text-align: center;
  }
  .branding .inner-title .heading h1 {
    font-size: 32px;
    text-align: center;
  }
  .branding .text h4 {
    font-size: 18px;
  }
  .branding .text p {
    font-size: 13px !important;
  }
  .branding .text h2 {
    font-size: 22px;
    margin-bottom: 20px;
  }
      .branding .text p {
        text-align: center;
    }

    .mainFaqBox .dataBox.open .row {
    padding: 30px;
    margin-bottom: 30px;
}

    .mainFaqBox button.toogleBtn svg {
    height: 20px;
    width: 20px;
    transform: scale(2.5);
}

.mainFaqBox button.toogleBtn {
    margin-bottom: 30px;
}

    .mainFaqBox button.toogleBtn span:nth-child(2), .mainFaqBox .upprtext span:nth-child(2) {
    text-align: center;
}

  .branding .web-sec-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
  .branding .web-sec-5 .mid-box p strong {
    margin-top: 0px;
    font-size: 18px;
  }
  .branding .box.mid-box img {
    max-width: 130px;
    width: 130px;
    height: 100%;
  }
  .branding .web-sec-5 {
    padding: 30px 0;
  }

  .branding .home-sec-07 .main-testi-box h4 {
    font-size: 22px;
  }
  .branding .home-sec-07 .main-testi-box {
    padding: 20px 30px;
  }
  .branding .home-sec-07 .main-testi-box p {
    font-size: 14px;
    font-style: italic;
    font-weight: 400;
    line-height: 1.5em;
  }
  .branding .home-sec-07 .main-testi-box:after,
  .branding .home-sec-07 .main-testi-box:before {
    width: 38px;
    height: 46px;
  }
  .branding .home-sec-07 .main-testi-box h5 {
    font-size: 14px;
  }
  .branding .home-sec-07 .slick-slide img {
    max-width: 65px;
  }
  .branding .home-sec-07 {
    padding: 40px 0 40px;
  }
  .branding .home-sec-07 .two-imges-testi img.testi-img-01 {
    bottom: 0px;
    max-width: 200px;
    object-fit: contain;
  }
  .branding img.testi-img-02.rotating-img {
    max-width: 100px;
    object-fit: contain;
  }
  .branding .home-sec-07 .two-imges-testi img.testi-img-02 {
    bottom: 50px;
  }
}
@media only screen and (max-width: 575px) {
  .branding .text h2 {
    font-size: 22px;
  }
  .branding .inner-title .heading p {
    font-size: 13px;
    text-align: center;
  }
  .branding .inner-title .heading h1 {
    font-size: 32px;
    text-align: center;
  }
  .branding .web-sec-2 .row {
    padding: 15px 0;
  }
  .branding .text p {
    font-size: 13px !important;
  }
  .branding .text h4 {
    font-size: 18px;
  }
  .branding .home-sec-service{
    padding: 30px 0;
  }
  .branding section#services_provide .text h2{
    text-align: center;
  }
  .branding #services_provide .text h2 {
    font-size: 18px;
    margin-bottom: 20px;
  }
  .branding .web-sec-3 .text p a {
    font-size: 12px;
  }

  .branding #services_provide .t-btn.t-btn-arrow{
    font-size: 12px;
  }

  .branding #services_provide .tab-content > .active {
    text-align: center;
  }
  .branding .brand-mobile-slider .hom a,
  .branding .new-btn-style .text a {
    max-width: 220px;
    width: 195px;
  }
  .branding .web-sec-3 .text p a {
    font-size: 12px;
  }
  .branding .web-sec-4 .text {
    max-width: 100%;
    margin: auto;
    padding: 20px 10px;
    text-align: center;
  }
  .branding .web-sec-4 {
    padding: 60px 0 10px;
  }
  .branding .web-sec-5 .text h2 {
    max-width: 100%;
  }
  .branding .web-sec-5 .container {
    padding-left: 10px;
    padding-right: 10px;
  }
  .branding .web-sec-5 .mid-box p strong {
    margin-top: 0px;
    font-size: 18px;
  }
  .branding .box.mid-box img {
    max-width: 130px;
    width: 130px;
    height: 100%;
  }
  
  .branding .web-sec-2.web-design-2 h2 {
    font-size: 17px;
  }
  
  .branding .marquee img {
    height: fit-content;
}

.customFaqBox .two-box {
    flex-direction: column;
    align-items: center;
    gap: 0;
    margin-bottom: 10px;
}

    .branding .branding-sec-5 {
        padding: 40px 0;
    }

        .branding .branding-sec-5 .text p {
        letter-spacing: 0px;
        text-align: center;
    }

        .branding .branding-sec-5 .text h4 {
        text-align: center;
    }

        section.section6 {
        padding-top: 50px;
    }

    .branding .section6 .text h2 {
    font-size: 17px;
    text-align: center;
}

.section6 .box img {
    height: fit-content;
    width: fit-content;
}

.gridBoxes {
    justify-content: center;
    text-align: center;
}

.section6 .box .content-box{
    display: none !important;
}

.customFaqBox .two-box.secondBox {
        gap: 20px;
    }

    .mainFaqBox .dataBox.open .row .upprtext span:nth-child(2) {
        font-size: 15px;
    }

.mainFaqBox .dataBox.open .row .upprtext span:nth-child(1) {
    display: none;
}

    .mainFaqBox button.toogleBtn span:nth-child(2) {
        font-size: 16px;
    }

.branding .branding-sec-03 {
    padding: 110px 15px 120px;
    padding-bottom: 0;
}

  .branding .home-sec-07 .main-testi-box p {
    font-size: 13px;
}
      .branding .home-sec-07 .main-testi-box:after, .home-sec-07 .main-testi-box:before {
    width: 20px;
    height: 26px;
}
      .branding .home-sec-07 .main-testi-box {
    padding: 20px 20px;
}
      .branding .home-sec-07 .two-imges-testi img.testi-img-01 {
    max-width: 130px;
}
      .branding img.testi-img-02.rotating-img {
    max-width: 80px;
    object-fit: contain;
}
      .branding .home-sec-07 .two-imges-testi img.testi-img-02 {
    bottom: 50px;
}
      .branding .home-sec-07 {
    padding: 40px 0 0;
}
}
