body {
  overflow-x: clip;
}

main.case-study {
    background: #040208;
}


.virtual-employees .inner-title {
  min-height: 100vh;
  display: flex;
  align-items: center;
  color: #fff;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  background: linear-gradient(to bottom, #130a2c, #000000);
  position: relative;
}

.virtual-employees .inner-title .heading {
  max-width: 100%;
  margin-top: 100px;
  text-align: center;
}

.virtual-employees .inner-title .heading h2 {
  font-size: 170px;
  position: relative;
  font-weight: bold;
  z-index: 10;
}

.virtual-employees .bg {
  position: absolute;
  background-color: transparent;
  border: 50px;
  z-index: 0;
  left: 0px;
  top: 0px;
  transform: translate(0, 0);
  transition: all 1s ease-in-out;
}

.virtual-employees .bg .banner-bg {
  opacity: 0;
  animation: banner-bg 6s infinite;
}

.virtual-employees .bg .banner-circle {
  position: absolute;
  top: 20%;
  left: 23%;
  transform: translate(-50%, -50%);
  animation: banner-circle-round 8s infinite;
  z-index: 2;
  transition: all 1s ease-in-out;
}

@keyframes banner-circle-round {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes banner-bg {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}


canvas.backgroundHover {
    height: 100vh;
    position: fixed;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    right: 0;
    border: 0;
}

section, .case-studies-container {
    position: relative;
    z-index: 1;
}

@media only screen and (max-width: 991px) {

  canvas.backgroundHover {
    display: none !important;
}
}

.case-study .inner-title {
  min-height: 620px;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  /* background-color: #fff; */
  color: #fff;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

.case-study .inner-title .heading {
  max-width: 1030px;
  margin-top: 0px;
}

.case-study .mission-sec .box-2 h4 {
  margin-bottom: 30px;
  text-align: center;
}

.case-study .inner-title .heading h1 {
      color: #fff;
    font-size: 95px;
    line-height: 105px;
}

main.case-study {
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}

.case-study .inner-title .heading p {
      color: #fff;
    font-size: 25px;
    margin-top: 10px;
    line-height: 34px;
    font-weight: 300;
    font-family: 'Lato';
}

.case-study .inner-title .heading p a {
  color: #fff;
}

.case-study .gradian-bg {
  background: #130a2b;
  background: linear-gradient(360deg, rgb(19 10 43) 0%, rgb(0 0 0) 100%);
}

.case-studies-container {
  max-width: 1249px;
  margin: 0 auto;
  padding:0 10px 315px;
  color: #fff;
}

.case-studies-heading {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 2rem;
  font-family: "Syne", sans-serif;
}



.case-grid {
  display: grid;
    row-gap: 60px;
    column-gap: 110px;
    grid-template-columns: 1fr 1fr;
        align-items: start;
}

.case-card {
  width: 100%;
  background: #ffffff00;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition: 0.2s ease;
     height: 800px;
}

.case-image-wrapper {
  width: 100%;
  height: auto;
}

.case-card:hover img {
    height: 590px;
    transition: 0.3s;
}

.case-card:nth-child(odd) {
    margin-top: 100px;
}

.case-image {
     width: 100%;
    height: 640px;
    display: block;
    object-fit: cover;
    transition: 0.3s;
    border-radius: 10px;
}

.case-content {
  padding: 8px;
}

.case-category{
    color: #FFFFFF;
    font-size: 18px;
    font-family: 'Syne';
    font-weight: 500;
    margin-top: 15px;
    margin-bottom: 0;
}

.case-title {
     color: #fff;
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 8px;
}

.case-description {
  font-size: 16px;
    color: #fff;
    font-family: 'Lato';
    line-height: 28px;
    font-weight: 300;
}


.case-content .case-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    font-size: 18px;
    font-family: 'Syne';
    transition: 0.3s;
    color:#fff;
}

.case-content .case-link:hover {
    transition: 0.3s;
}

@media (max-width: 1440px) {
  .case-grid {
    row-gap: 40px;
    column-gap: 60px;
}
}

@media (max-width: 1200px) {
  .case-image {
    height: 540px;
}
.case-card {
    height: 740px;
}
.case-card:hover img {
    height: 500px;
}

.case-studies-container {
    padding: 0 10px 150px;
}


}

@media (max-width: 991px) {
  .case-study .inner-title .heading h1 {
    line-height: unset;
}
.case-grid {
    row-gap: 40px;
    column-gap: 40px;
    grid-template-columns:1fr;
}
    .case-card {
        height: fit-content;
    }
    .case-card:nth-child(odd) {
    margin-top: 0;
}
.case-study .inner-title {
    min-height: 420px;
}
    .case-image {
        height: fit-content;
    }
        .case-card:hover img {
        height: fit-content;
    }
}

@media (max-width: 768px) {
  .case-study .inner-title .heading h1 {
    font-size: 3rem;
  }
  .case-study .inner-title .heading p {
    font-size: 1.2rem;
  }
}


@media (max-width: 575px) {
  .case-study .inner-title .heading h1 {
    font-size: 2rem;
  }
  .case-study .inner-title .heading p {
    font-size: 1rem;
  }
  .case-title {
    font-size: 30px;
}
.case-category {
    font-size: 14px;
    margin-top: 5px;
}
.case-description {
    font-size: 14px;
    line-height: 23px;
    letter-spacing: 0.5px;
}
    .case-studies-container {
        padding: 0 10px 70px;
    }
}
