/* Hero Section */

.cc-hero-banner {
  height: 100vh;
  display: flex;
  color: white;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
}

.cc-hero-banner .text p {
  font-size: 20px;
  max-width: 1000px;
  display: block;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 40px;
  color: rgba(255, 255, 255, 0.65);
}

.cc-hero-banner .text p a {
  color: #fff !important;
}

.sec-8.nitro-onscreen {
    position: relative;
}

.sec-8.nitro-onscreen::after {
    content: "";
    height: 100%;
    width: 100%;
    background: #00000073;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.sec-8.nitro-onscreen .container {
    position: relative;
    z-index: 1;
}

.slick-dots {
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
  z-index: 1;
}

.slick-dots li button:before {
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: "•";
  text-align: center;
  opacity: 0.25;
  color: transparent;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before {
  opacity: 0.75;
  color: transparent;
}

.cc-hero-banner ul.slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: -2%;
  left: -47%;
  list-style: none;
}

.cc-hero-banner .slick-dots li {
  width: 20px !important;
  height: 6px !important;
}

.cc-hero-banner .slick-dots li button {
  width: 20px;
  height: 6px;
}

.cc-hero-banner .slick-dots li button::before {
  background-color: #999999;
  color: transparent;
  width: 20px;
  height: 6px;
  border-radius: 50px;
  opacity: 100%;
}

.cc-hero-banner .slick-dots li.slick-active button::before {
  background-color: #746fff;
  color: transparent;
}

.cc-hero-banner .scroll-down-box {
  position: absolute;
  bottom: 10px;
  z-index: 999;
  right: 20px;
}

.cc-hero-banner .scroll-down-box .two-imges {
  position: relative;
}

.cc-hero-banner .scroll-down-box .two-imges img.Scrol-Down-Mouse {
  position: absolute;
  top: 37%;
  right: 0;
  left: 0;
  margin: auto;
}

.cc-hero-banner .scroll-down-box .two-imges a:hover img.Scrol-Down-Mouse {
  filter: brightness(100);
}

.text h1 {
  font-size: 75px;
  font-weight: 400;
  /* display: inline-flex; */
  line-height: 1em;
}

.text h1 span {
  font-weight: 600; /* display: inline-flex; */
  flex-direction: row;
  flex-wrap: wrap;
}

.text h1 span img {
  display: inline;
}

.cc-hero-banner .real-estate-banner {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  display: flex !important;
  align-items: center;
  z-index: 999999999 !important;
}

.real-estate-banner .case-text h2 {
  font-size: 65px;
  font-weight: 400;
  color: #fff !important;
  text-align: left;
}

.real-sec-2 .case-text {
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px 47px;
  height: 200px;
  width: 225px;
  display: flex;
  align-items: center;
}

.case-hero-slider ul.slick-dots {
  display: flex;
  align-items: center;
  justify-content: left;
  left: 365px;
  column-gap: 3px;
  top: 350px;
}
.case-hero-slider .slick-dots li.slick-active button::before {
  background-color: #746fff;
  width: 20px;
  height: 6px;
}

.case-hero-slider .slick-dots li button::before {
  background-color: #999999;
  width: 20px;
  height: 6px;
  border-radius: 50px;
  opacity: 100%;
}
.case-hero-slider .slick-dots li button:hover:before,
.slick-dots li button:focus:before {
  opacity: 1;
  width: 20px;
  height: 6px;
}
.case-text p {
  color: white;
  font-size: 22px;
  line-height: 1.7em;
  text-align: justify;
}
.case-hero-sliderul.case-list li {
  font-size: 16px;
  color: #fff;
  font-weight: 300;
}
.case-hero-slider ul.case-list {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.case-hero-slider ul.case-list li {
  display: flex;
  align-items: flex-start;
  column-gap: 10px;
}

.case-hero-slider ul.case-list img {
  margin-top: 8px;
  max-width: 100px !important;
}
.real-estate-banner .case-text span {
  font-weight: 600;
  color: #fff;
}

.real-estate-banner .case-text p {
  color: #fff;
}

.text p {
  color: #ffffffa6;
  font-size: 16px;
  margin-top: 5px !important;
  margin-bottom: 10px !important;
}

.case-bg-marker {
  margin-top: -10px;
  background: linear-gradient(#0e081f 100%, #5e52e2 0%);
  background-repeat: no-repeat;
  background-size: cover;
}

.cleaning-sec-1 {
  padding: 80px 0px 10px;
}

.cleaning-sec-1 .container {
  padding-left: 50px;
  padding-right: 50px;
  max-width: 1200px;
}
.cleaning-sec-1 .text{
  display: flex;
  justify-content: center;
} 

.cleaning-sec-1 .text form {
  width: 100%;
  position: relative;
}

.cleaning-sec-1 .text form input {
  width: 100%;
  height: 42px;
  border-radius: 40px;
  border: 0.8px solid rgba(47, 39, 198, 0.75);
  background: linear-gradient(45deg, rgba(0, 0, 0, 0.6) 0%, rgba(255, 255, 255, 0.25) 200%);
  -webkit-backdrop-filter: blur(40px);
  backdrop-filter: blur(40px);
  color: #ffffff;
  text-indent: 25px;
  padding-right: 145px;
  font-size: 16px;
  position: relative;
}
.cleaning-sec-1 .text form input:focus-visible{
  outline: 0.8px solid rgba(47, 39, 198, 0.75);
}

.cleaning-sec-1 .text form button.submit-btn {
  position: absolute;
  top: 2px;
  right: 2px;
}


.cleaning-sec-1 form button.submit-btn:hover {
  border: 2px solid transparent;
}

.cleaning-sec-1 form button.submit-btn {
  background: linear-gradient(#5E52E2 0%, #292CC0 100%) !important;
  color: white;
  width: 250px;
  height: 38px;
  border-radius: 50px;
  border: 2px solid #5E52E2;
  display: flex;
  padding-right: 10px;
  column-gap: 10px;
  align-items: center;
  justify-content: flex-end;
  font-size: 14px;
  font-weight: 500;
  transition: 0.3s;
}

/* Section-2 */
.cleaning-sec-2 {
  text-align: center;
  padding-bottom: 100px;
}

.cleaning-sec-2.padt-4 {
  padding-top: 4% !important;
}

.cleaning-text-brand {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cleaning-text-brand h2 {
  font-size: 40px;
  color: #fff;
  margin-bottom: 20px;
  letter-spacing: 1px;
  width: 1000px;
}

.cleaning-text-brand p {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  opacity: 0.8;
}

.video-wrapper {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0px;
}

.video-container {
  width: 100%;
  border-radius: 4px;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.4);
}

video {
  width: 100%;
  height: 100%;
  border-radius: 4px;
}

.play-button-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  pointer-events: none;
}

#circle-play-b {
  cursor: pointer;
  pointer-events: auto;
}

#circle-play-b .svg-cls {
  width: 100px;
  height: 100px;
  fill: #fff;
  stroke: #fff;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  opacity: 0.9;
}

.pause-button-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  pointer-events: none;
}

#circle-pause-b {
  cursor: pointer;
  pointer-events: auto;
}

#circle-pause-b .svg-cls {
  width: 100px;
  height: 100px;
  fill: #fff;
  stroke: #fff;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  opacity: 0.9;
}

.cleaning-text-brand {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cleaning-text-brand p {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  opacity: 0.8;
}

.sec-7.nitro-offscreen {
  background: #000000;
  padding: 100px 0;
  background: linear-gradient(#0e081f 100%, #5e52e2 0%);
}

.sec-7 .row {
  background: linear-gradient(90deg, #54126a, #65177a, #337ab8);
  padding: 0 50px;
  border-radius: 15px;
}

.bounce-in {
  animation: bounce-in 2s ease infinite;
}

@keyframes bounce-in {
  0% {
    opacity: 0;
    transform: scale(0.3);
  }
  50% {
    opacity: 1;
    transform: scale(1.05);
  }
  70% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}
.fade-in-left {
  animation: fade-in-left 2s ease infinite;
}

section.sec-7.nitro-offscreen .text h2 {
  font-size: 20px;
  margin-bottom: 0;
  color: #fff !important;
  -webkit-text-fill-color: #ffffff;
  font-family: "Syne";
  font-weight: 600;
}

.disc-price h3 {
  color: #fff;
  font-size: 23px;
  font-weight: 700;
}

.sec-7 ul li a {
  color: #fff;
  border: 1px solid #fff;
  padding: 10px 16px;
  border-radius: 19px;
  min-width: 128px;
  height: 40px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
a.discount-call-btn:hover {
  transform: scale(1.1);
  transition: 0.4s;
}

li {
  list-style: none;
}

.order-btn {
  font-size: 16px;
  min-width: 171px;
  height: 50px;
  display: inline-flex;
  width: auto;
  padding: 10px 30px;
  background-image: linear-gradient(to right, #6a47f4, #4daedb);
  display: flex;
  width: 160px;
  padding: 11px 0px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 93px;
  color: white;
  transition: 1.5s;
  transition: all 0.4s ease-in-out;
  font-size: 18px;
  text-transform: uppercase;
  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  background-size: 300% 100%;
}

.order-btn:hover {
  background-image: linear-gradient(to right, #6246d3, #58caff);
  color: white;
  transition: 1.5s;
  transition: all 0.4s ease-in-out;
  font-size: 18px;
  text-transform: uppercase;
  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  background-size: 300% 100%;
  transform: scale(1.1);
  transition: 0.4s;
}

.order-btn a {
  color: #fff;
  text-transform: capitalize;
  font-weight: 500;
  letter-spacing: 1px;
}

/* Section 3 */
.cleaning-sec-3 {
  padding: 60px 0;
}
.cleaning-sec-3 .cleaning-brand-box {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  align-items: center;
}

.cleaning-brand-box p {
  font-size: 18px;
  color: #fff;
  font-weight: 400;
}

/* Section 4 */
.clean-sec-4 {
    background-attachment: scroll;
    background-position: top;
    background-size: cover;
    height: 1000px;
    padding-top: 100px;
}

.clean-sec-4 .col-md-6:nth-child(2) {
  display: flex;
  align-items: center;
  padding-left: 70px;
}

.case-bread {
  margin-bottom: 50px;
}

.case-bread {
  padding-right: 0px;
}

.clean-sec-4 .case-bread h2 {
  font-size: 38px;
  line-height: 52px;
  background: linear-gradient(270deg, #e5deff 0%, #e5deff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: capitalize;
}

.clean-sec-4 .case-bread p {
  color: white;
  font-size: 18px;
  line-height: 1.7em;
  max-width: 480px;
  font-weight: 400;
  opacity: 0.8;
}

.clean-sec-4 .clean-para {
  padding: 30px 0;
}

/* Section 5 */
.cleaning-sec-4 {
  padding: 100px 0 100px;
}

.cleaning-sec-4 .text-clening h2,
.case-text-brand h2 {
  margin-bottom: 30px;
  text-transform: capitalize;
}

.cleaning-sec-4 .text-clening h2 {
  text-align: center;
}

.text-clening h2 {
  font-weight: 600;
  font-size: 45px;
  line-height: 52px;
  background: linear-gradient(270deg, #e5deff 0%, #e5deff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.cleaning-sec-4 .col-xl-3.col-lg-6.col-md-6.col-sm-6 {
    margin: 0px;
    padding: 0px 10px;
}

.real-sec-5 .case-box {
    text-align: center;
    background-color: #817cdd1f;
    padding: 30px 15px;
    backdrop-filter: blur(10px);
    border-radius: 30px;
    border: 0.8px solid rgba(47, 39, 198, 0.75);
    cursor: pointer;
    height: 350px;
    transition: 3s ease-in-out all;
}

.real-sec-5 .case-box:hover {
  background: linear-gradient(#5E52E2 0%, #292CC0 100%);
}

.real-sec-5 .text h3 {
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 10px;
    text-align: center;
    font-weight: 600;
    background: linear-gradient(270deg, #9D77FF 0%, #C4C2FF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.real-sec-5 .case-box p {
    line-height: 22px;
    color: #ffffffa6;
    font-size: 16px;
}

.real-sec-5 a.t-btn.t-btn-arrow {
    margin-top: 50px;
    padding: 10px 20px;
}


/* Premium Cleaning Section */
.clean-last-bg {
    background-image: url('/industry/cleaning-company/cc-premium-bg.webp');
    background-position: center;
    background-size: cover;
    padding-top: 50px;
    height: 800px;
}

.premium-cleaning-section {
    color: white;
}


.premium-cleaning-section .container{
    padding-left: 50px !important;
    padding-right: 50px !important;
    max-width: 1200px;
}

.feature-point {
    position: relative;
}

.feature-point p {
    font-size: 25px;
    line-height: 30px;
    font-weight: 600;
    background: linear-gradient(270deg, #9D77FF 0%, #C4C2FF 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
    z-index: 1;
    text-transform: uppercase;
}

.feature-1::after {
    content: url('/industry/cleaning-company/cc-premium-point-1.png');
    display: inline;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 0;
    left: 80%;
}

.feature-2::after {
    content: url('/industry/cleaning-company/cc-premium-point-1.png');
    display: inline;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 0;
    left: 85%;
}

.feature-3::after {
    content: url('/industry/cleaning-company/cc-premium-point-1.png');
    display: inline;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 0;
    left: 70%;
}

.feature-4::after {
    content: url('/industry/cleaning-company/cc-premium-point-2.png');
    display: inline;
    position: absolute;
    top: -15px;
    transform: translateY(-50%);
    z-index: 0;
}

.laptop-image {
    max-width: 100%;
    height: auto;
    margin-top: 50px;
}

.feature-5::before {
    content: url('/industry/cleaning-company/cc-premium-point-3.png');
    display: inline;
    position: absolute;
    top: 0;
    transform: translateY(45%);
    z-index: 0;
    bottom: 0;
    right: 106%;
}

.feature-6::before {
    content: url('/industry/cleaning-company/cc-premium-point-5.png');
    display: inline;
    position: absolute;
    transform: translateY(0%);
    z-index: 0;
    right: 110%;
}

.feature-7::before {
    content: url('/industry/cleaning-company/cc-premium-point-4.png');
    display: inline;
    position: absolute;
    transform: translateY(90%);
    z-index: 0;
    right: 100%;
}

.feature-8::before {
    content: url('/industry/cleaning-company/cc-premium-point-5.png');
    display: inline;
    position: absolute;
    transform: translateY(0%);
    z-index: 0;
    right: 120%;
}


/* Section 6 */
.real-sec-6 {
  background: linear-gradient(#0E081F 100%, #5E52E2 0%);
  padding: 100px 0;
}

.real-sec-6 .container {
  padding-left: 50px!important;
  padding-right: 50px!important;
}


.cleaning-sec-6 .case-text.manage {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.case-text.manage h6, .case-text-brand h5 {
  text-transform: uppercase;
}

.case-text.manage h6 {
  font-size: 15px;
  color: #fff;
  text-align: center;
  font-weight: 400;
  margin-bottom: 10px;
}

.cleaning-sec-6 .case-text.manage h2 {
  width: 900px;
}

.case-text.manage h2 {
  font-size: 40px;
  text-align: center;
  color: #fff;
  font-weight: 600;
  margin-bottom: 40px;
}

.cleaning-sec-6 .clean-para-6 {
  font-size: 18px;
  margin-bottom: 30px;
  text-align: center;
  opacity: 0.8;
  color: white;
}


.real-sec-6 .mark-box {
  padding: 30px 0;
  border-bottom: 1px solid #ffffff33;
  display: flex;
  align-items: center;
}


.real-sec-6 .mark-box {
  padding: 30px 0;
  border-bottom: 1px solid #ffffff33;
  display: flex;
  align-items: center;
}

.real-sec-6 .text h3 {
  font-size: 30px;
  line-height: 1.1em;
  max-width: 410px;
  font-weight: 600;
  background: linear-gradient(270deg, #9D77FF 0%, #C4C2FF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.clean-sec-7 {
background-attachment: scroll;
    background-image: url(/industry/cleaning-company/cc-sec07-bg.webp);
    background-position: top;
    background-size: cover;
    padding-top: 100px;
    height: 750px;
}

.clean-sec-7 .case-bread h2 .dual {
    font-family: fantasy;
    font-size: 45px;
}

.clean-sec-7 .container {
  padding-left: 50px!important;
  padding-right: 50px!important;
}

.clean-sec-7 .col-md-6 {
  padding-top: 150px;
}

.clean-sec-7 .case-bread {
  padding-right: 0px;
}

.clean-sec-7 .case-bread h2 {
  font-size: 38.5px;
  line-height: 52px;
  font-weight: 600;
  background: linear-gradient(270deg, #9D77FF 0%, #C4C2FF 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.clean-sec-7 .clean-para-7 {
  color: #A7A6AB;
  font-size: 16px;
  line-height: 1.7em;
  margin-top: 20px;
  margin-bottom: 40px;
}
.clean-sec-7 .clean-para-7 span {
  font-weight: bold;
  color: #fff;
}

.case-bread {
  margin-bottom: 50px;
}

.clean-sec-7 a.t-btn.t-btn-arrow.real-bg {
  max-width: 420px;
  padding: 13px 25px;
}


.testimonial-and-portfolio{
  background-image: url("/industry/cleaning-company/cc-testimonial-bg.webp");
    margin-top: -12px;
}
/* Testimonial */

/* Section 7 (Testimonials) */
.home-sec-07 {
  padding: 100px 0 200px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.home-sec-07 h2 {
  margin-bottom: 30px;
}
.case-text-brand h2 {
  font-size: 40px;
  font-weight: 600;
  color: #fff;
  text-align: center;
  margin-bottom: 10px;
}
.home-sec-07 .main-testi-large-box {
  color: white;
  z-index: 999;
}
.home-sec-07 .main-testi-box {
  padding: 50px 150px;
  text-align: center;
  margin-top: 0px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 998;
  border-radius: 10px;
  position: relative;
  /* background-color: #000000b3; */
  background-image: url(/testi-main-box-bg.png);
  backdrop-filter: blur(2px);
}
.home-sec-07 .main-testi-box::after {
  content: "";
  background-image: url(/testi-details-left.png);
  width: 88px;
  height: 66px;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 70px;
  left: 5%;
}
.home-sec-07 .main-testi-box::before {
  content: "";
  background-image: url(/testi-details-right.png);
  width: 88px;
  height: 66px;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 70px;
  right: 5%;
}

.home-sec-07 .main-testi-box h4 {
  background: linear-gradient(270deg, #9d77ff 0%, #c4c2ff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 30px;
  font-weight: 500;
}

.home-sec-07 .main-testi-box h5 {
  font-size: 16px;
  font-weight: 400;
  font-family: "Lato", sans-serif;
  margin: 10px 0 15px;
}

.home-sec-07 .main-testi-box p {
  font-size: 22px;
  font-style: italic;
  font-weight: 400;
  line-height: 1.7em;
}

.home-sec-07 .main-testi-box h6 {
  font-size: 18px;
  font-weight: 500;
  font-family: "Lato", sans-serif;
  margin-top: 15px;
}
.home-sec-07 .two-imges-testi img.testi-img-01 {
  position: absolute;
  bottom: 50px;
  right: 10%;
}

.home-sec-07 .two-imges-testi img.testi-img-02 {
  position: absolute;
  bottom: 130px;
  left: 13%;
}
.home-sec-07 .main-testi-nav .box img {
  cursor: pointer;
}

.home-sec-07 .slick-track {
  padding: 5px 0 25px;
}

.home-sec-07 .testi-img-01 {
  animation: zoom 5s ease-in-out infinite;
}

.home-sec-07 .rotating-img {
  animation: rotate 7s linear infinite;
}
.main-testi-nav .slick-slide {
  opacity: 30%;
}

.main-testi-large-box .slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
  z-index: 9999;
}
.main-testi-nav .slick-active.slick-center.slick-current {
  opacity: 100% !important;
}

.main-testi-nav .slick-list {
  padding: 0 !important;
}

.main-testi-nav .slick-active.slick-center.slick-current .box img {
  box-shadow: 5px 5px 25px 0px rgba(157, 119, 255, 0.9);
  border-radius: 10px;
}

.case-text-brand {
  text-align: center;
}

.case-text-brand h5 {
  color: #fff;
  font-size: 16px;
  padding-bottom: 10px;
  font-weight: 400;
}


.home-sec-07 .slick-dots {
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
  z-index: 1;
}

.home-sec-07 ul.slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  column-gap: 3px;
  bottom: -20px;
}

.home-sec-07 .slick-dots li {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.home-sec-07  .slick-dots li button::before {
  background-color: #fff;
  width: 14px;
  height: 14px;
  border-radius: 50px;
  opacity: 100%;
}

.home-sec-07 .slick-dots li.slick-active button::before {
  background-color: #746FFF;
  width: 14px;
  height: 14px;
}




/* Section 8 */

/* Section 8 */

.sec-8.nitro-onscreen {
  background-attachment: scroll;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  display: flex;
  align-items: center;
  text-align: center;
}

.sec-8.nitro-onscreen .text h2 {
  font-size: 40px;
  letter-spacing: 1.1px;
  background: linear-gradient(270deg,#9D77FF 0%,#C4C2FF 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: #ffffff;
  margin-bottom: 30px;
  font-weight: 600;
}

.order-t-btn {
  background-color: #fff;
  padding: 14px 45px;
  border-radius: 24px;
  font-family: 'Lato';
  transition: .3s;
  display: block;
  margin: auto;
  width: auto;
}

.order-t-btn a {
  font-size: 15px;
  font-weight: 500;
  font-family: 'Syne';
  color: #000000;
}

.order-t-btn:hover {
  background-color: #000;
  color: #fff;
}

.order-t-btn:hover a {
  color: #fff;
}




/* Sectoion 10 - Portfolio */
.real-sec-8 {
  padding: 120px 0;
}

.real-sec-8 .img-box {
  border-radius: 20px;
  overflow: hidden;
  transition: 0.3s;
  margin-bottom: 30px;
}

.real-sec-8 .img-box img {
  width: 100%;
  height: 400px;
  object-position: top;
  object-fit: cover;
  transition: 8s;
}

.real-sec-8 .img-box:hover img {
  object-position: bottom;
}

.real-sec-8 .web-btn {
  text-align: center;
  margin-top: 20px;
}
.real-sec-8 .web-btn a.t-btn.t-btn-arrow.real-bg {
  max-width: 420px;
  padding: 6px 25px;
}


@media only screen and (max-width: 1600px) {
  .Benefit-box.last-brom:before {
    content: "";
    background-image: url("/industry/cleaning-company/cc-eclipse.webp");
    background-repeat: no-repeat;
    height: 190px;
    width: 420px;
    position: absolute;
    top: -194px;
    rotate: 351deg;
    left: 40px;
  }
  .Benefit-box.first-brom:after {
    content: "";
    background-image: url("/industry/cleaning-company/cc-eclipse.webp");
    background-repeat: no-repeat;
    height: 125px;
    width: 560px;
    position: absolute;
    top: 115px;
    rotate: 56deg;
    left: 60px;
  }
  .real-sec-5 .case-box {
    height: 370px;
  }
  .case-hero-slider ul.slick-dots {
    top: 435px !important;
    left: 14% !important;
  }
  /*.case-mail-form .submit-btn {*/

  /*    right: 129px;*/
  /*}*/
  .testimoan-sec-case ul.slick-dots {
    left: 0px;
  }
  .cc-hero-banner .case-hero-slider.hero-slider2 ul.slick-dots {
    left: 0% !important;
    top: 104% !important;
  }
  .case-hero-slider.hero-slider2 .main-testi-box p {
    font-size: 20px;
    font-style: italic;
    color: white;
    font-weight: 400;
    line-height: 28px;
  }
  .cc-hero-banner .real-estate-banner .case-text h2 {
    font-size: 60px;
    font-weight: 400;
    color: #fff !important;
    text-align: left;
  }
  /*.real-sec-2 .col-xl-2 {*/
  /*    flex: 0 0 18%;*/
  /*    max-width: 18%;*/
  /*}*/

  .cc-hero-banner .real-estate-banner {
    margin-left: 80px;
  }
  .cc-hero-banner ul.slick-dots {
    margin-left: 80px;
  }
  .cleaning-text-brand h2 {
    font-size: 36px;
    font-weight: bold;
  }
  .sec-7 ul li a {
    padding: 10px 0px;
    min-width: 150px;
  }
  .text-clening h2 {
    font-size: 36px;
  }
  .clean-sec-4 .case-bread h2 {
    font-size: 44px;
    line-height: 44px;
    font-weight: bold;
  }
  .clean-sec-4 .container{
    padding-left: 50px;
    padding-right: 50px;
  }
  .text-clening h2 {
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
  }
  .feature-point p {
    font-size: 18px;
    line-height: 30px;
  }
  .clean-sec-7 .case-bread h2 {
    font-size: 36px;
    line-height: 42px;
    width: 520px;
  }
}

@media only screen and (max-width: 1400px) {
  .case-hero-slider ul.slick-dots {
    top: 415px !important;
    left: 145px !important;
  }
  .case-hero-slider.hero-slider2 ul.slick-dots {
    left: 0% !important;
    top: 104% !important;
  }
  .cc-hero-banner .real-estate-banner .container {
    padding-top: 80px;
  }
}
@media only screen and (max-width: 1200px) {
  .cc-hero-banner .real-estate-banner .container {
    padding-top: 0px;
  }
  .real-sec-4 {
    height: 900px;
  }
  .cc-hero-banner .real-estate-banner .case-text h2 {
    font-size: 56px;
  }
  /*.case-hero-slider .slick-slide {*/
  /*    float: left;*/
  /*    height: 80vh !important;*/
  /*}*/
  .real-sec-3 .case-bread h2,
  .case-text.manage h2 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  .case-bread {
    padding-right: 40px;
  }
  .case-text-brand h2 {
    font-size: 36px;
    margin-bottom: 40px;
  }
  .real-sec-5 .text h3 {
    font-size: 26px;
    line-height: 32px;
  }

  .real-sec-2 .case-text {
    margin: 0 auto !important;
    margin-top: 25px !important;
  }
  /*.case-mail-form .submit-btn {*/
  /*    right: 120px;*/
  /*}*/
  .testimoan-sec-case .slick-slide.slick-current.slick-active {
    background-size: contain !important;
  }
  .main-testi-box p {
    font-size: 16px;
    font-style: italic;
    color: white;
    font-weight: 400;
    line-height: 20px;
  }
  .case-hero-slider ul.slick-dots {
    top: 415px !important;
    left: 140px !important;
  }
  .real-sec-2 .col-xl-2 {
    flex: 0 0 33%;
    max-width: 33%;
  }
  .case-mail-form .submit-btn {
    right: 21px;
  }
}
@media only screen and (max-width: 1199px) {
  .sec-7 .row {
    padding: 20px 20px !important;
  }
  .sec-7.nitro-offscreen img {
    margin-top: -55px;
    margin-bottom: -75px;
  }

  .home-sec-07 .slick-slide img {
    max-width: 65px;
    object-fit: contain;
    height: auto;
  }
  .home-sec-07 .two-imges-testi img.testi-img-01 {
    bottom: 60px;
    max-width: 270px;
    object-fit: contain;
  }
  .home-sec-07 .two-imges-testi img.testi-img-02 {
    position: absolute;
    bottom: 130px;
    left: 13%;
  }
  .home-sec-07 {
    padding: 70px 0 100px;
  }
  .home-sec-07 .slick-slide img {
    max-width: 65px;
    object-fit: contain;
    height: auto;
  }
  .home-sec-07 .two-imges-testi img.testi-img-01 {
    bottom: 60px;
    max-width: 270px;
    object-fit: contain;
  }
  .home-sec-07 .two-imges-testi img.testi-img-02 {
    position: absolute;
    bottom: 130px;
    left: 13%;
  }
  .home-sec-07 .two-imges-testi img.testi-img-01, .home-sec-07 .two-imges-testi img.testi-img-02{
    display:none;
  }
  .home-sec-07 .text h2 {
    font-size: 40px;
  }
  .home-sec-07 .main-testi-box::after, .home-sec-07 .main-testi-box::before {
    width: 48px;
    height: 36px;
}

.cc-hero-banner .real-estate-banner {
  margin-left: 80px;
}
ul.slick-dots {
  margin-left: 80px;
}
.cleaning-text-brand h2 {
  font-size: 36px;
  line-height: 44px;
  font-weight: bold;
}
.sec-7 ul li a {
  padding: 10px 0px;
  min-width: 138px;
  font-size: 14px;
}
.clean-sec-4 .col-md-6:nth-child(2) {
  padding-left: 35px;
}
.clean-sec-4 .case-bread h2 {
  font-size: 31px;
  line-height: 38px;
  font-weight: bold;
}
.clean-sec-4 .clean-para {
  padding: 5px 0;
}
.clean-sec-4 {
  height: 1020px;
}
.text-clening h2 {
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
}
.real-sec-5 .case-box {
  height: 240px;
}
.t-btn.t-btn-arrow {
  max-width: 150px;
}
.feature-point p {
  font-size: 20px;
}
.real-sec-6 .container {
  padding-left: 30px !important;
  padding-right: 30px !important;
}
.case-text.manage h2 {
  margin-bottom: 40px;
}
.real-sec-6 .text h3 {
  max-width: 350px;
}
.clean-sec-7 .case-bread h2 {
  font-size: 36px;
  line-height: 42px;
}
.t-btn.t-btn-arrow {
  height: 50px;
}
}
@media only screen and (max-width: 1024px) {
  .cc-hero-banner .real-estate-banner {
    margin-left: 60px;
  }
  ul.slick-dots {
    margin-left: 60px;
  }
  .cleaning-text-brand h2 {
    font-size: 36px;
    font-weight: bold;
    line-height: 44px;
    width: 920px;
  }
  .sec-7 ul li a {
    padding: 10px 0px;
    min-width: 158px;
  }
}

@media only screen and (max-width: 991px) {
  body::-webkit-scrollbar {
    display: none;
  }
  html {
    overflow-x: hidden;
  }
  .cleaning-text-brand h2 {
    font-size: 30px;
    width: 100%;
  }
  .cleaning-sec-2 {
    padding-bottom: 10px;
  }
  .real-sec-5 .case-box {
    height: 330px;
  }
  .case-brand-text h3 {
    font-size: 26px;
    line-height: 32px;
  }

  .real-sec-3 .case-bread h2,
  .case-text.manage h2 {
    font-size: 30px;
    margin-bottom: 20px;
  }
  .clean-sec-4 .col-md-6:nth-child(2) {
    padding-left: 0px;
  }
  .clean-sec-4 .case-bread h2 {
    font-size: 19px;
    line-height: 30px;
    text-align: left;
    margin: auto;
    display: block;
  }
  .clean-sec-4 .case-bread p {
    font-size: 13px;
    line-height: 1.5em;
    max-width: 100%;
    text-align: left;
    margin: auto;
  }
  .feature-point p {
    font-size: 18px;
    line-height: 50px;
  }
  .feature-2:after {
    display: none;
  }
  .feature-1:after {
    display: none;
  }
  .text-clening h2 {
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
  }
  .real-sec-5 .case-box {
    height: 330px;
  }
  .cleaning-sec-4 {
    padding: 60px 0;
  }
  .clean-sec-4 {
    height: 100%;
    padding-top: 60px;
  }
  .clean-sec-4 .clean-para {
    padding: 10px 0;
  }
  .clean-sec-4 {
    padding-top: 30px;
  }
  .case-bread {
    padding-right: 20px;
  }
  .real-sec-3 .case-bread h2,
  .case-text.manage h2 {
    font-size: 30px;
    margin-bottom: 20px;
  }
  .case-text-brand h2 {
    font-size: 30px;
    margin-bottom: 30px;
  }
  .case-mail-form .submit-btn {
    right: 93px;
  }
  .cc-hero-banner .real-estate-banner .case-text h2 {
    font-size: 40px;
  }
  .testimoan-content.slick-slide.slick-current.slick-active {
    background-image: none !important;
    background-color: #3c3b40 !important;
  }
  .testimoan-content {
    padding: 60px;
  }
  .real-sec-7 .col-lg-4.col-md-6.col-sm-12 {
    margin-bottom: 30px;
  }
  .row2 {
    display: flex;
    flex-direction: column;
  }
  .row2 .col1 {
    order: 1;
    padding: 80px 0px;
    max-width: 30% !important;
  }
  .row2 .col2 {
    order: 3;
    padding: 80px 0px;
  }
  .row2 .col3 {
    order: 2;
    max-width: 30% !important;
    margin-right: 30px;
  }
  .row2 .col2 .Benefit-img img {
    max-width: 100% !important;
  }
  .row1 .col-md-3 {
    max-width: 30% !important;
    margin-right: 30px;
  }
  .Benefit-box.first-brom:after,
  .Benefit-box.last-brom:before {
    background-image: none !important;
  }
  .real-sec-2 .col-xl-2 {
    flex: 0 0 33%;
    max-width: 33%;
  }
  .case-mail-form .submit-btn {
    right: 20px;
  }
  .case-hero-slider ul.slick-dots {
    top: 415px !important;
    left: 175px !important;
  }

  .sec-8.nitro-onscreen .text h2 {
    font-size: 30px !important;
  }
  .order-t-btn {
    padding: 12px 35px !important;
  }
  .order-t-btn a {
    font-size: 13px !important;
  }
  .sec-8.nitro-onscreen {
    height: 350px !important;
  }

  .order-btn {
    margin: auto;
  }
  .sec-7.nitro-offscreen img {
    margin-top: -100px;
    margin-bottom: -150px;
    max-width: 84px;
  }

  section.sec-7.nitro-offscreen .text h2 br {
    display: none !important;
  }

  .sec-7 ul {
    display: flex;

    width: 260px !important;

    justify-content: flex-end !important;
  }
  .cc-hero-banner ul.slick-dots {
    left: 0%;
    margin-bottom: -10%;
  }
  .clean-last-bg {
    display: none;
  }
  .sec-7.nitro-offscreen {
    padding: 60px 0;
  }
  .cleaning-sec-6 .case-text.manage h2 {
    width: 100%;
  }

  .clean-sec-7 .col-md-6 {
    padding-top: 50px;
  }
  .real-sec-6 .text h3 {
    font-size: 21px;
    max-width: 90%;
  }
  .real-sec-6 {
    padding: 70px 0;
  }
  .text p {
    font-size: 15px;
  }

  .clean-sec-7 .case-bread h2 {
    font-size: 37px;
    width: 330px;
  }

  .clean-sec-7 a.t-btn.t-btn-arrow.real-bg {
    max-width: 330px;
    font-size: 14px;
    padding: 10px 15px;
  }

  .home-sec-07 .slick-slide img {
    max-width: 45px;
    object-fit: contain;
    height: auto;
    border-radius: 0px;
  }
  .home-sec-07 .main-testi-box {
    padding: 20px 30px;
  }
  .home-sec-07 .main-testi-box p {
    font-size: 14px;
    font-style: italic;
    font-weight: 400;
    line-height: 1.5em;
  }
  .home-sec-07 .two-imges-testi img.testi-img-01 {
    bottom: 0px;
    max-width: 200px;
    object-fit: contain;
  }

  .two-imges-testi {
    bottom: 60px;
    max-width: 60px;
    object-fit: contain;
  }

  img.testi-img-02.rotating-img {
    bottom: 60px;
    max-width: 100px;
    object-fit: contain;
  }
  .home-sec-07 .two-imges-testi img.testi-img-02 {
    position: absolute;
    bottom: 50px;
    left: 13%;
  }
  .home-sec-07 .main-testi-box h6 {
    font-size: 13px;
    margin-top: 5px;
  }
  .home-sec-07 {
    padding: 40px 0 40px;
  }
  .home-sec-07 .main-testi-box:after, .home-sec-07 .main-testi-box:before {
    width: 38px;
    height: 36px;
    top: 60px;
}
  .home-sec-07 .text h2 {
    font-size: 28px;
  }
  ul.slick-dots{
    margin-left: 0;
  }

  .cc-hero-banner .real-estate-banner {
    margin-left: 0px;
  }
}

@media only screen and (max-width: 767px) {
  .cc-hero-banner .real-estate-banner .case-text h2 {
    font-size: 36px;
    text-align: center;
  }
  .case-text-brand h2 {
    font-size: 26px;
    margin-bottom: 20px;
  }
  .case-brand-text h3 {
    font-size: 22px;
    line-height: 26px;
  }
  .real-sec-5 .case-box {
    height: 400px;
  }
  .real-sec-5 .case-box {
    padding: 20px 10px;
  }
  .real-sec-5 .text h3 {
    font-size: 20px;
    line-height: 26px;
  }
  .real-sec-3 .case-bread h2,
  .case-text.manage h2 {
    font-size: 26px;
    margin-bottom: 20px;
  }
  .real-sec-6 .text h3 {
    font-size: 24px;
  }
  .real-sec-8 .img-box img {
    height: 320px;
  }
  .Benefit-img img {
    max-width: 100% !important;
  }
  .main-testi-box h4 {
    font-size: 26px;
  }
  .testimoan-content {
    padding: 30px;
  }
  .case-mail-form form input {
    width: 100%;
    right: 21px;
  }
  .real-sec-7 .col-lg-4.col-md-6.col-sm-12 {
    margin: 0 auto;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  }
  .real-sec-6 .mark-box {
    flex-direction: column !important;
  }
  .real-sec-6 .text h3 {
    max-width: 100% !important;
    text-align: center;
  }
  .text p {
    text-align: center;
  }
  .Benefit-img {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .row2 .col2 .Benefit-img img {
    max-width: 70% !important;
  }
  .row2 .col1 {
    max-width: 43% !important;
  }
  .row2 .col3 {
    max-width: 43% !important;
  }

  .row1 .col-md-3 {
    max-width: 43% !important;
    margin-right: 30px;
  }
  .Benefit-box.first-brom:after,
  .Benefit-box.last-brom:before {
    background-image: none !important;
  }
  .case-text-brand h2 {
    margin-bottom: 40px;
  }
  .real-sec-7 {
    padding: 50px 0;
  }
  .last-brom img,
  .first-brom img,
  .third-img img {
    width: 70px !important;
  }
  .real-sec-2 .col-xl-2 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .real-sec-1 .col-md-12 {
    width: 100% !important;
    max-width: 100%;
  }
  .case-bread {
    padding-right: 0px;
  }
  .case-bread {
    margin-bottom: 30px;
    padding-top: 0px;
  }
  .mailpoet_paragraph.last::after {
    right: 38px;
  }

  .sec-8.nitro-onscreen .text h2 {
    font-size: 26px !important;
  }
  .order-t-btn {
    padding: 12px 35px !important;
  }
  .order-t-btn a {
    font-size: 13px !important;
  }
  .sec-8.nitro-onscreen {
    height: 300px !important;
  }

  .sec-7.nitro-offscreen img {
    display: none;
  }
  .sec-7 .row {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
  }
  .disc-price h3 {
    font-size: 20px !important;
    text-align: center !important;
  }
  .sec-7 ul {
    display: block !important;
    gap: 10px;
    width: 250px !important;
    margin-right: 0px;
    justify-content: inherit !important;
    margin: auto !important;
    padding-left: 0;
  }
  section.sec-7.nitro-offscreen .text h2 {
    font-size: 18px;

    text-align: center;
  }
  .sec-7.nitro-offscreen {
    padding: 20px 10px !important;
  }
  .cc-hero-banner ul.slick-dots {
    left: 0%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-75%,90%);
  }
  .cleaning-text-brand h2 {
    font-size: 20px;
    width: 100%;
  }
  .cleaning-text-brand p {
    font-size: 13px;
    line-height: 23px;
  }
  .cleaning-sec-6 .case-text.manage h2 {
    width: 100%;
  }
  .real-sec-5 .case-box p {
    line-height: 26px;
    font-size: 15px;
  }
  .real-sec-5 a.t-btn.t-btn-arrow {
    padding: 10px 20px;
  }
  .sec-7 ul {
    padding-left: 0;
  }
  .cleaning-brand-box p {
    font-size: 15px;
  }
  .clean-sec-4 {
    height: 100%;
  }
  .cleaning-brand-box img {
    max-width: 120px;
  }
  .clean-sec-7 {
    padding-top: 0px;
    height: 450px;
  }
  .clean-sec-7 .case-bread h2 {
    text-align: center;
    font-size: 25.5px;
    line-height: 32px;
  }
  .clean-sec-7 .clean-para-7 {
    font-size: 13px;
    margin-top: 20px;
    margin-bottom: 30px;
    text-align: center;
  }
  .clean-sec-7 {
    padding-top: 0px;
    height: 450px;
  }
  .real-sec-8 {
    padding: 70px 0;
  }
  .cleaning-sec-6 .clean-para-6 {
    font-size: 13px;
    margin-bottom: 10px;
  }
  .case-text.manage h6 {
    font-size: 22px;
  }
  .cc-hero-banner .text p {
    font-size: 13px;
  }

  
  .home-sec-07 .main-testi-box h4 {
    font-size: 22px;
  }
  .home-sec-07 .main-testi-box {
    padding: 20px 30px;
  }
  .home-sec-07 .main-testi-box p {
    font-size: 14px;
    font-style: italic;
    font-weight: 400;
    line-height: 1.5em;
  }
  .home-sec-07 .main-testi-box:after,
  .home-sec-07 .main-testi-box:before {
    width: 38px;
    height: 46px;
  }
  .home-sec-07 .main-testi-box h5 {
    font-size: 14px;
  }
  .home-sec-07 .slick-slide img {
    max-width: 65px;
  }
  .home-sec-07 {
    padding: 40px 0 40px;
  }
  .home-sec-07 .two-imges-testi img.testi-img-01 {
    bottom: 0px;
    max-width: 200px;
    object-fit: contain;
  }
  img.testi-img-02.rotating-img {
    max-width: 100px;
    object-fit: contain;
  }
  .home-sec-07 .two-imges-testi img.testi-img-02 {
    bottom: 50px;
  }

  .home-sec-07 .main-testi-box:after, .home-sec-07 .main-testi-box:before {
    width: 38px;
    height: 36px;
    top: 60px;
}

}
@media only screen and (max-width: 577px) {
  .clean-sec-7 .case-bread h2 .dual
 {
    font-size: 25px;
}
  .real-sec-2 .col-xl-2 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .real-sec-3 a.t-btn.t-btn-arrow.real-bg {
    max-width: 80%;
    margin: 0 auto;
    text-align: center;
    display: block;
  }
  .real-estate-banner .case-text h2 {
    font-size: 32px;
  }
  .case-text-brand h2 {
    font-size: 24px;
    margin-bottom: 15px;
    text-align: center;
  }
  .case-brand-text h3 {
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }
  .real-sec-5 .case-box {
    height: 180px;
  }
  .real-sec-5 .case-box {
    padding: 20px 10px;
  }
  .real-sec-5 .text h3 {
    font-size: 20px;
    line-height: 26px;
    text-align: center;
  }
  .real-sec-3 .case-bread h2,
  .case-text.manage h2 {
    font-size: 24px;
    margin-bottom: 15px;
    text-align: center;
  }
  .real-sec-6 .text h3 {
    font-size: 20px;
    text-align: center;
  }
  .real-sec-8 .img-box img {
    height: 300px;
  }
  section .container {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }
  .real-sec-7 .col-md-4.col-sm-12 {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    margin-bottom: 30px;
  }
  .case-img-box h5 {
    font-size: 18px;
  }
  .real-sec-7 .web-btn {
    padding-top: 0px;
  }
  .real-sec-8 .col-md-6.col-sm-6 {
    margin-bottom: 20px;
  }
  .real-sec-8,
  .real-sec-7 {
    padding: 50px 0;
  }
  /*.real-sec-2 .col-xl-2.col-lg-4.col-md-4.col-sm-6{*/
  /*    width:45% !important;*/
  /*}*/
  .real-sec-3 .case-bread p {
    font-size: 16px;
    text-align: center;
  }
  .mark-box {
    flex-direction: column;
  }
  .text p {
    font-size: 13px;
    text-align: center;
  }
  .real-sec-6 {
    padding: 50px 0;
  }
  .cc-hero-banner .real-estate-banner.slick-slide {
    height: 90vh !important;
  }
  .case-mail-form form input {
    width: 100%;
  }
  .case-mail-form .submit-btn {
    right: 20px;
  }
  .case-text p {
    text-align: center;
  }
  .cc-hero-banner .real-estate-banner .case-text h2 {
    text-align: center;
  }
  .case-hero-slider ul.slick-dots {
    left: 45% !important;
    top: 95% !important;
  }
  .main-testi-box h4 {
    font-size: 23px;
  }
  .case-hero-slider.hero-slider2 ul.slick-dots {
    left: 0% !important;
    top: 104% !important;
  }
  .real-sec-6 .text h3 {
    max-width: 100%;
  }
  .case-text-brand h2 {
    margin-bottom: 40px;
  }
  .row2 .col1 {
    max-width: 38% !important;
  }
  .row1 .col-md-3 {
    max-width: 38% !important;
  }
  .row2 .col3 {
    margin-right: 15px;
  }
  .real-sec-8,
  .real-sec-7 {
    padding: 20px 0;
  }
  .case-text-brand h2 {
    margin-bottom: 20px;
  }
  .real-sec-7 .t-btn.t-btn-arrow {
    margin-top: 0px;
  }
  .testimoan-sec-case {
    padding: 20px 0 20px;
  }
  .row2 .col2 {
    order: 3;
    padding: 60px 0px;
    padding-bottom: 0px;
  }
  .testimoan-sec-case {
    padding: 30px 0 20px;
  }

  .real-sec-4 .col-md-12 {
    position: relative;
    top: 0px;
  }
  .case-last-bg {
    margin-top: 0px;
  }
  .real-sec-4 {
    padding-bottom: 0px;
  }
  .case-hero-slider .case-text p {
    padding-top: 10px;
  }
  .real-sec-2 {
    padding-bottom: 50px;
    margin-top: 40px;
  }
  .real-sec-5 {
    padding: 10px 0 20px;
  }
  .real-sec-5 {
    padding: 30px 0 0px;
  }
  .Benefits-sec {
    position: relative;
    padding: 20px 0;
  }
  .real-sec-8 .t-btn.t-btn-arrow {
    margin-top: 0px;
  }
  .real-sec-8 .web-btn {
    text-align: center;
    margin-top: 0px;
  }
  .real-sec-1 {
    padding: 20px 0px 10px;
  }
  .case-hero-slider.hero-slider2 .main-testi-box p {
    font-size: 15px;
    font-style: italic;
    color: white;
    font-weight: 400;
    line-height: 22px;
  }
  .real-sec-8 .col-md-6.col-sm-6 {
    margin-bottom: 0px;
  }
  .real-sec-1 {
    padding: 30px 0px 10px;
  }
  .real-sec-5 .case-box {
    height: auto !important;
    margin-top: 15px;
  }

  .case-mail-form .mailpoet_submit {
    width: 228px !important;
  }

  .case-mail-form #mailpoet_form_2 .mailpoet_submit {
    width: 228px !important;
    font-size: 13px !important;
  }
  input#form_email_2::placeholder {
    font-size: 13px;
  }
  #mailpoet_form_2 input.mailpoet_submit {
    margin-top: 0px !important;
  }

  .sec-8.nitro-onscreen .text h2 {
    font-size: 20px !important;
  }
  .order-t-btn {
    padding: 12px 30px !important;
  }
  .order-t-btn a {
    font-size: 12px !important;
  }
  .sec-8.nitro-onscreen {
    height: 280px !important;
  }

  .order-btn {
    font-size: 16px;
    min-width: 150px;
    height: 45px;
  }

  .sec-7 ul li a {
    min-width: 120px;
    height: 35px;
    font-size: 14px;
  }
  .disc-price h3 {
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
  }

  .sec-7 ul {
    display: block !important;
    margin: auto !important;
    width: 150px !important;
    margin-right: 0px;
    justify-content: inherit !important;
  }
  .sec-7.nitro-offscreen {
    padding: 40px 10px;
  }
  .order-btn {
    font-size: 14px !important;
    min-width: 110px !important;
    height: 42px !important;
  }
  .disc-price h3 {
    font-size: 16px !important;
  }
  .t-btn.t-btn-arrow {
    margin-top: 30px;
    font-size: 12px;
  }
  .case-bread {
    padding-top: 0px;
  }
  .clean-sec-7 .clean-para-7 {
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 30px;
    text-align: center;
  }
  .clean-sec-7 .container {
    padding-left: 20px !important;
    padding-right: 20px !important;
    backdrop-filter: blur(4px);
    height: 75vh;
}
  .clean-sec-7 .case-bread h2 {
    text-align: center;
    font-size: 25.5px;
    line-height: 32px;
  }
  .cleaning-sec-6 .clean-para-6 {
    font-size: 13px;
    margin-bottom: 10px;
  }
  .cleaning-sec-1 .text form input{
    font-size: 14px;
  }
  .cleaning-sec-1 form button.submit-btn {
    width: 14vw;
    justify-content: center;
    font-size: 0;
  }
  .clean-sec-7 .case-bread h2{
    text-align: left;
    font-size: 6vw;
  }
  .clean-sec-7 .clean-para-7{
    text-align: left;
  }
  .clean-sec-4 .case-bread h2 {
    margin-top: 20px;
    font-size: 19px;
    text-align: center;
  }
  .clean-sec-4 .case-bread p{
    text-align: center;
  }

  .cleaning-text-brand h2 {
    line-height: 27px;
}
}

@media only screen and (max-width: 480px) {
  .case-mail-form {
    flex-direction: column;
  }
  .case-mail-form .submit-btn {
    position: relative;
    top: 0px;
    right: 00px;
  }
  .case-mail-form #mailpoet_form_2 .mailpoet_submit {
    top: 90px;
    max-width: 84%;
    width: 84% !important;
    right: 35px;
  }
  .mailpoet_paragraph.last::after {
    width: 16px;
    height: 16px;
    top: 106%;
    right: 120px;
  }
}
@media only screen and (max-width: 450px) {
  .real-sec-3 a.t-btn.t-btn-arrow.real-bg {
    max-width: 100%;
  }

  .case-mail-form .submit-btn {
    position: relative;
    right: 0 !important;
    margin: 0 auto !important;
    margin-top: 20px !important;
    width: 100%;
    font-size: 14px;
  }
  .main-testi-box h6 {
    font-size: 16px;
  }
  .row2 .col1 {
    max-width: 45% !important;
  }
  .row1 .col-md-3 {
    max-width: 45% !important;
  }
  .row2 .col3 {
    max-width: 53% !important;
  }
  .last-brom img,
  .first-brom img,
  .third-img img {
    width: 60px !important;
  }
  .case-brand-text h3 {
    font-size: 18px;
    line-height: 26px;
  }
  .real-bg {
    display: flex;
    font-size: 15px;
  }
  .case-hero-slider ul.slick-dots {
    left: 40% !important;
  }
  .case-mail-form .submit-btn {
    text-align: center;
    display: block !important;
    max-width: 100%;
  }
  .real-sec-6 {
    padding: 30px 0;
  }
  .real-sec-5 a.t-btn.t-btn-arrow {
    margin-top: 20px;

    margin-bottom: 15px;
  }
  .real-sec-8,
  .real-sec-7 {
    padding: 20px 0;
    padding-top: 55px;
  }
  .testimoan-sec-case {
    padding: 40px 0 20px;
  }
  .case-mail-form .submit-btn {
    max-width: 100%;
  }
  .case-mail-form input[type="email"],
  .case-mail-form .submit-btn {
    height: 45px !important;
  }
  .case-mail-form img {
    padding-left: 10px;
  }
}
@media only screen and (max-width: 425px) {
  .row1 .col-md-3 {
    max-width: 50% !important;
  }
  .row2 .col1 {
    max-width: 53% !important;
  }
  .row2 .col3 {
    max-width: 57% !important;
  }
  .case-hero-slider ul.slick-dots {
    left: 40% !important;
  }
 

  .case-mail-form #mailpoet_form_2 .mailpoet_submit {
    top: 90px;
    max-width: 82%;
    width: 82% !important;
    right: 38px;
    font-size: 13px !important;
  }
  .mailpoet_paragraph.last::after {
    width: 15px;
    height: 15px;
    top: 106%;
    right: 105px;
  }
}
@media only screen and (max-width: 400px) {
  .cc-hero-banner .real-estate-banner .case-text h2 {
    font-size: 28px;
  }
  .real-sec-2 .col-xl-2.col-lg-4.col-md-4.col-sm-6 {
    width: 100% !important;
  }
  .case-text-brand h2 {
    font-size: 22px;
    margin-bottom: 15px;
  }
  .real-sec-3 .case-bread h2,
  .case-text.manage h2 {
    font-size: 22px;
    margin-bottom: 15px;
    text-align: center;
  }
  .real-sec-3 ul.case-list li {
    font-size: 16px;
  }
  .case-brand-text h3 {
    font-size: 18px;
    line-height: 24px;
    text-align: center;
  }
  .real-sec-5 .case-box {
    height: 215px;
  }
  .t-btn.t-btn-arrow {
    margin-top: 30px;
    font-size: 12px;
  }
  .testimoan-content {
    padding: 15px;
  }
  .main-testi-box h4 {
    font-size: 20px;
  }
  .row2 .col2 .Benefit-img img {
    max-width: 80% !important;
  }
  .case-hero-slider ul.slick-dots {
    left: 40% !important;
  }
  .mailpoet_paragraph.last::after {
    width: 16px;
    height: 16px;
    top: 106%;
    right: 90px;
  }
  .case-mail-form #mailpoet_form_2 .mailpoet_submit {
    top: 90px;
    max-width: 82%;
    width: 82% !important;
    right: 38px;
  }
}
@media only screen and (max-width: 380px) {
  .row2 .col3 {
    max-width: 66% !important;
  }
  .row2 .col1 {
    max-width: 59% !important;
  }
  .row1 .col-md-3 {
    max-width: 62% !important;
  }
  .case-text-brand h2 {
    margin-bottom: 40px;
  }
}
@media only screen and (max-width: 380px) {
  .case-mail-form #mailpoet_form_2 .mailpoet_submit {
    max-width: 80%;
    width: 80% !important;
    right: 33px;
  }
  .mailpoet_paragraph.last::after {
    width: 16px;
    height: 16px;
    top: 107%;
    /* bottom: -10px; */
    right: 75px;
  }
}
@media only screen and (max-width: 340px) {
  .mailpoet_paragraph.last::after {
    width: 16px;
    height: 16px;
    top: 107%;
    /* bottom: -10px; */
    right: 70px;
  }
}
@media only screen and (max-width: 320px) {
  .real-estate-banner .case-text h2 {
    font-size: 24px;
  }
  .real-sec-2 .col-xl-2.col-lg-4.col-md-4.col-sm-6 {
    width: 100% !important;
  }
  .case-text-brand h2 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .real-sec-3 .case-bread h2,
  .case-text.manage h2 {
    font-size: 20px;
    margin-bottom: 10px;
    text-align: center;
  }
  .real-sec-3 ul.case-list li {
    font-size: 16px;
  }

  .real-sec-5 .case-box {
    height: 220px;
  }
  .real-sec-5 .case-box {
    height: 310px;
  }
  .real-sec-6 .text h3 {
    font-size: 18px;
    text-align: center;
  }
  .case-text.manage h2 {
    font-size: 18px;
  }
  .row2 .col3 {
    max-width: 81% !important;
  }
  .row2 .col1 {
    max-width: 71% !important;
  }
  .row1 .col-md-3 {
    max-width: 71% !important;
  }
  .case-text-brand h2 {
    margin-bottom: 40px;
  }
  .testimoan-sec-case {
    padding: 30px 0 20px;
  }
  .row2 .col2 {
    order: 3;
    padding: 0px 0px;
  }
  .real-sec-8,
  .real-sec-7 {
    padding-bottom: 0px;
  }
  .real-sec-6 {
    padding: 30px 0;
    padding-bottom: 0px;
  }
  .case-text-brand h2 {
    margin-bottom: 0px;
  }
  .real-sec-2 {
    padding: 50px 0;
  }
  .real-sec-3 .case-bread h2,
  .case-text.manage h2 {
    font-size: 16px;
  }
  .case-brand-text h3 {
    font-size: 16px;
    line-height: 22px;
  }
  .real-sec-4 {
    padding-bottom: 20px;
  }
  .real-sec-5 .text h3 {
    font-size: 18px;
    line-height: 22px;
  }
  .real-sec-7 .case-text-brand h2 {
    margin-bottom: 20px;
  }
  .real-sec-8,
  .real-sec-7 {
    padding: 30px 0;
  }
  .case-text-brand h2 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  .cc-hero-banner .text p {
    font-size: 13px;
  }
  .cleaning-text-brand h2 {
    font-size: 20px;
  }
  .cleaning-text-brand p {
    font-size: 13px;
    line-height: 23px;
  }
  .video-wrapper {
    padding: 30px 0;
  }
  .sec-7.nitro-offscreen {
    padding: 20px 10px !important;
  }
  .clean-sec-4 .col-md-6:nth-child(2) {
    padding-left: 10px;
  }
  .clean-sec-4 .case-bread p {
    font-size: 13px;

    max-width: 100%;
    text-align: center;
    margin: auto;
  }
  .text-clening h2 {
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
  }
  .case-text-brand h2,
  .cleaning-sec-4 .text-clening h2 {
    margin-bottom: 10px;
  }
  .real-sec-5 {
    padding: 30px 0 0px;
  }
  .real-sec-5 .case-box {
    height: 310px;
  }
  .case-text.manage h6 {
    font-size: 22px;
  }
  .real-sec-6 .container {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }
  .real-sec-3 .case-bread h2,
  .case-text.manage h2 {
    font-size: 16px;
  }

  .case-text.manage h6 {
    font-size: 19px;
}
.newsletter-form .text form input {
  font-size: 10px;
  padding: 10px 0px;
}
}
